
    <app-home-header></app-home-header> 
    <!-- frequently-asked -->
  <div class="see-feq-full">
    <section class="frequently-asked forfq" >
      <div class="container ">
          <div class="row">
              <div class="col-md-12">
                  <div class="content-wrapper text-center">
                      <div class="for-middle-content">
                          <h3 class="heading clr-black">Terms & Conditions</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  <!-- frequently-asked close -->

<app-footer></app-footer>
