<div id="billing" class="tab-pane fade">
    <div class="">
      <div class="student-r-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 data-toggle="modal" data-target="#thankyou">Billing & Credits</h1>
            </div>
            <div class="col-md-12">
                <div class="timmy-tabb">
                    <div class="">
                      <ul class="nav nav-tabs">
                        <li><a data-toggle="tab"
                          [ngClass]="{'active show': currentResource == 'membership'}" 
                           routerLink='/dashboard/educator-billing-credits/membership'>Membership</a></li>
                        <li><a data-toggle="tab"
                          [ngClass]="{'active show': currentResource == 'billing'}" (click)="biiling()"
                          routerLink='/dashboard/educator-billing-credits/billing' class="">Billing</a></li>
                        <li><a data-toggle="tab"
                          [ngClass]="{'active show': currentResource == 'student-credits'}" (click)="studentCredits()"
                           routerLink='/dashboard/educator-billing-credits/student-credits' class="">Students Credits</a></li>
                        <li><a data-toggle="tab"
                          [ngClass]="{'active show': currentResource == 'payment-method'}" (click)="paymentMethod()"
                           routerLink='/dashboard/educator-billing-credits/payment-method' class="">Payment Methods</a></li>
                      </ul>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
 
    </div> 
  </div>
</div>