
<body>
    <app-home-header></app-home-header>
<!-- request demo wrappper -->
<!-- <section class="request-demo-wrapper volunteras">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-wrapper">
                    <h1 class="heading clr-black">Volunteer as an Advisor </h1>
                    <p class="clr-black">Share your career wisdom, get valuable and flexible volunteering experience that fits around your busy life and help unlock the potential of young people.</p>
                    <div class="getemail">
                        <div class="inputfield">
                            <input type="text" [(ngModel)]="email" placeholder="Enter Email Address">
                            <a href="javascript:void(0)" (click)="sendAdvisorEmail()" class="gradint-btn">Join Waitlist</a>
                        </div>
                    </div>
                    <a href="#freque" class="requirment">What are the entry requirements?</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="imag-wrapper">
                    <img src="assets/images/volunteer_rev.svg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="request-demo-wrapper volunteras">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-wrapper">
                    <h1 class="heading clr-black">Volunteer as an Advisor </h1>
                    <p class="clr-black">Share your career wisdom, get valuable and flexible volunteering experience that fits around your busy life and help unlock the potential of young people.</p>
                    <div class="getemail">
                        <div class="inputfield">
                            <input type="text" [(ngModel)]="email" placeholder="Enter Email Address">
                            <a href="javascript:void(0)" (click)="sendAdvisorEmail()" class="gradint-btn">Join Waitlist</a>
                        </div>
                    </div>
                    <a (click)="scroll()" class="requirment">What are the entry requirements?</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="imag-wrapper">
                    <img src="assets/images/volunteer_rev.svg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- request demo wrappper close-->

<!-- why volunteer -->
            <section class="whyvolunteer-w adnew whyadvisorsection">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-wrapper text-center">
                                <h2 class="heading clr-black">Why Volunteer with Propair?</h2>
                            </div>
                        </div>
                    </div>
                    <div class="advantage">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <div class="content-wrapper text-center">
                                    <img src="assets/images/earth.svg" alt="img">
                                    <h5 class="heading">Make A Big Impact</h5>
                                    <p>Your contribution impacts not only the student you’ve helped but the hundreds who  read your message exchanges too</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="content-wrapper text-center">
                                    <img src="assets/images/SUPPORT.svg" alt="img">
                                    <h5 class="heading">Support Disadvantaged Young People</h5>
                                    <p>Your contribution helps us provide our service 100% free to disadvantaged students (learn about our mission <a routerLink="/about-us" style="font-style: normal; color:#007bff;">here</a>)</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="content-wrapper text-center">
                                    <img src="assets/images/IMPROVED.svg" alt="img">
                                    <h5 class="heading">Improve Yourself</h5>
                                    <p>Reconnect with your experiences, career decisions and passions and share these along with your advice, to bright and engaged young people</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="content-wrapper text-center">
                                    <img src="assets/images/FUN.svg" alt="img">
                                    <h5 class="heading">Fun, Flexible & Quantifiable</h5>
                                    <p>Understand various metrics of your contribution, do as much or as little as you want and have fun!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="unlockpotential ">
                                    <div class="getemail for-middle-content">
                                        <div class="inputfield">
                                            <input type="text" placeholder="Enter Email Address">
                                            <a href="#" class="gradint-btn">Join Waitlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


  <!-- why volunteer close  -->

              <!-- why volunteer -->
            <section class="whyvolunteer-w adnew requirements" id="require">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-wrapper text-center">
                                <h2 class="heading clr-black">What are the entry requirements?</h2>
                            </div>
                        </div>
                    </div>
                    <div class=" ">
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="for-middle-content">
                                        <div class="content-wrapper text-center">
                                            <p class="text-center">Our rules are not completely rigid, and we do judge each application on its own merits. As a guide we typically look for the following:
                                                <br>
                                                <br>
                                                <b>Work experience</b> <i></i> minimum of two year's work experience. If you have less than this, you will need to show superior academic credentials or evidence of outstanding performance 
                                                <br>
                                                <br>
                                                <b>Educational background</b> <i></i> you might have an undergraduate degree or equivalent qualification. If you do not, that is absolutely fine, we will look at your work experience and/or anything
                                                interesting you have achieved
                                                <br>
                                                <br>
                                                <b>A minimum of 25 contacts on LinkedIn</b> <i></i> this is for security purposes
                                                <br>
                                                <br>
                                                Please sign up bellow to be added to our waitlist. Once we're ready for you we'll invite you to apply by filling in an online application form. We may conduct a telephone interview with you next before letting you know the outcome of your application.
                                            </p>
                                         
                                        </div>
                                           
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="unlockpotential ">
                                    <div class="getemail for-middle-content">
                                        <div class="inputfield">
                                            <input type="text" placeholder="Enter Email Address">
                                            <a href="#" class="gradint-btn">Join Waitlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        

          <!-- why volunteer close  -->

          <!-- frequently-asked -->
          <section class="frequently-asked" id="freque">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-wrapper text-center">
                            <div class="for-middle-content">
                                <h3 class="heading clr-black"> Frequently Asked Questions</h3>
                                <div id="accordion" class="width-fix">
                                    <div class="card">
                                        <div class="card-header" id="headingone">
                                          <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseone" aria-expanded="false" aria-controls="collapseThree">
                                             <span>Why do I need to apply to become an Advisor?</span>
                                              <img src="assets/images/triangle-shape.png" alt="img">
                                            </button>
                                           
                                          </h5>
                                        </div>
                                        <div id="collapseone" class="collapse defaulter" aria-labelledby="headingone" data-parent="#accordion">
                                          <div class="card-body">
                                                Ultimately, our goal is to transform the way careers education is approached at school by grounding it in the 
                                                broad and rich firsthand experience of real professionals. In other words, we want a careers education deeply 
                                                connected to reality, as well, of course, as being available to all students regardless of background, ability or 
                                                location. The real value of joining ProPair as a volunteer Advisor is to be part of this mission and to that end, we
                                                only want to bring great people on board who align with this. 
                                          </div>
                                        </div>
                                      </div>
                                    <div class="card">
                                        <div class="card-header" id="headingtwo">
                                          <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls="collapseThree">
                                               <span>What sectors do you cover?</span>
                                              <img src="assets/images/triangle-shape.png" alt="img">
                                            </button>
                                           
                                          </h5>
                                        </div>
                                        <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">
                                          <div class="card-body">
                                            Any professional sector you can think of! We are building a community of professionals that reflect the incredibly rich and diverse career
                                            paths out there. If you are unsure then please do <a href="#">get in touch with us.</a>
                                          </div>
                                        </div>
                                      </div>
                                    <div class="card">
                                      <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                           <span>How much of my time will be required?</span>
                                            <img src="assets/images/triangle-shape.png" alt="img">
                                          </button>
                                         
                                        </h5>
                                      </div>
                                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                                As much or as little as you want - you accept student requests to fit round your life. We do recommend you aim
                                                for at least one "message exchange" a week to get the most out of it. This will of course depend on the relevant 
                                                requests that you can help with.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="see-al width-sel">
                                        <a routerLink="/faq" class="gradint-btn">See all FAQ</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- frequently-asked close -->

    <!-- how it work -->
            <section class="how-its-wok advisor-howts" id="howits">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-wrapper text-center">
                                <h3 class="heading clr-black">How It Works</h3>
                            </div>
                        </div>
                    </div>
                    <div class="details ">
                       <div class="process-w reverse">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/Review-your-request.svg" alt="img">
                                </div>
                                <div class="col-md-6">
                                    <div class="content-wrapper">
                                        <h3 class="heading clr-black">1. Review your requests</h3>
                                        <p class="clr-black">We'll send you student requests that best fit your experience and expertise.</p>
                                    </div>
                                </div>
                            </div>
                       </div>
                      <div class="process-w">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="content-wrapper">
                                        <h3 class="heading clr-black">2. Select the requests you want to help with</h3>
                                        <p class="clr-black">Flexibility and choice is key for our Advisors and so you decide which requests you want to help with.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/images/Select-the-request.svg" alt="img">
                                </div>
                            </div>
                      </div>
                      <div class="process-w reverse">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/Make-an-Impact.svg" alt="img">
                            </div>
                            <div class="col-md-6">
                                <div class="content-wrapper">
                                    <h3 class="heading clr-black">3. Make an impact</h3>
                                    <p class="clr-black">Your career advice can make a real difference to a young person's future and potentially hundreds of others too.</p>
                                </div>
                            </div>
                        </div>
                   </div>
                    </div>
                </div>
            </section>
    <!-- how it work close -->
  <!-- real life world -->
  <section class="real-lefe-world unlockpotential">
    <div class="container M-cont-top">
        <div class="row">
            <div class="col-md-12">
                <div class="content-wrapper text-center">
                    <h2 class="heading clr-black">Help us unlock the potential of<br> young people together</h2>
                    <div class="getemail for-middle-content">
                        <div class="inputfield">
                            <input type="text" placeholder="Enter Email Address">
                            <a href="#" class="gradint-btn">Join Waitlist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- real life world close -->
   <!-- feedback -->
   <section class="feedback-wrapper become-ad-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-wrapper text-center">
                    <h3 class="heading clr-black">What Our Advisors Are Saying About ProPair</h3>
                </div>
            </div>
            <div class="col-md-12">
               <div class="slider">
                <div id="owl-two"  class=" owl-carousel owl-theme">
                    <div class="item">
                        <p>“My whole experience so far has been really positive. It's a great opportunity to help
                            young people chart
                            their career path and make a real difference.”
                            </p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a5.png" alt="img"> -->
                            <div class="profesion">
                                <h6 class="heading">James</h6>
                                <span>  SAP Project Management</span>
                                <img src="assets/images/aplle-logo.png" alt="img" style="height: 35px; width: 32px;">
                            </div>
                           
                        </div>
                    </div>
                    <div class="item">
                        <p>“I wish this service was around
                            when I was in sixth form as it would have saved me a
                            lot of time and worry. I think it's great being able to share my experience with
                            students, answer their questions and give straight forward tips and advice about the
                            sector I work in.”</p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a2.png" alt="img"> -->
                            <div class="profesion">
                                 <h6 class="heading">Richard</h6>
                                 <span>Management Consultancy</span>
                                 <img src="assets/images/accenture.png" alt="img" style="height: 38px; width: 95px;">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p>"I've been wanting to do some volunteering but have very little free time and this
                            for me is a great solution.”
                            </p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a4.png" alt="img"> -->
                            <div class="profesion">
                                <h6 class="heading">Nathan</h6>
                                <span>Corporate Finance</span>
                                <img src="assets/images/pwc.png" alt="alt" style="height: 48px; width: 60px;">
                            </div>
                           
                        </div>
                    </div>
                    <div class="item">
                        <p>“ProPair is a no brainer for any professional looking to give back in a flexible and
                            convenient way. It makes me feel happy knowing a relatively small effort from me
                            can
                            make a
                            real & positive
                            impact.” 
                            </p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a3.png" alt="img"> -->
                            <div class="profesion">  
                                <h6 class="heading">Harriet</h6>
                                <span>Doctor</span>
                                <img src="assets/images/NHSblue.png" alt="alt" style="height: 27px; width: 60px;">
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
</section>
 <!-- feedback close-->
 <app-footer></app-footer>

</body>