
    <app-home-header></app-home-header> 
<!-- request demo wrappper -->
<section class="request-demo-wrapper csr-wrapper">
    <div class="container M-cont-top">
        <div class="row">
            <div class="col-md-6">
                <div class="content-wrapper">
                    <h1 class="heading clr-black">Exceed your CSR objectives</h1>
                    <p class="clr-black">ProPair is an easy & flexible way for you to implement a<br> company-wide volunteer programme with zero workplace <br>disruption and help unlock the potential of young people in the UK.</p>
                    <div class="rqust-demos-btn">
                        <a href="#" class="gradint-btn">GET IN TOUCH</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="imag-wrapper">
                    <img src="assets/images/HEADcser.svg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- request demo wrappper close-->




<!-- why volunteer -->
<section class="whyvolunteer-w whyusepropair">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-wrapper text-center">
                    <h2 class="heading clr-black">Why Use ProPair</h2>
                </div>
            </div>
        </div>
        <div class="advantage">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="content-wrapper text-center">
                        <img src="assets/images/exceed.svg" alt="img">
                        <h5 class="heading">Exceed Your CSR or Volunteering Targets</h5>
                        <p>Your employees will be helping students, schools and social mobility in the UK with measureable social impact</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="content-wrapper text-center">
                        <img src="assets/images/improve_revisi.svg" alt="img">
                        <h5 class="heading">Improve Employee Wellbeing</h5>
                        <p>Volunteering is proven to benefit physical and mental health</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="content-wrapper text-center">
                        <img src="assets/images/motivate.svg" alt="img">
                        <h5 class="heading">Motivate & Engage Your Employees</h5>
                        <p>Most millennials would be more motivated & engaged if their employer made a positive impact on society</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="content-wrapper text-center">
                        <img src="assets/images/flexible.svg" alt="img">
                        <h5 class="heading">Flexibilty & Convenience </h5>
                        <p>Your employees can mentor students as much or as little as they like, anytime, anywhere. Zero disruption</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <!-- why volunteer close  -->

  <!-- frequently-asked -->
  <section class="frequently-asked faq-partner dyamicfq" id="freque">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="content-wrapper text-center">
                    <div class="for-middle-content">
                        <h3 class="heading clr-black"> Frequently Asked Questions</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingone">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                     <span> How can my organisation get involved?
                                        </span>
                                      <img src="assets/images/triangle-shape.png" alt="img">
                                    </button>
                                   
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
                                  <div class="card-body">
                                     <a href="#">Contact us </a> for a chat and we can answer any questions you may have and demonstrate the tool to you remotely or
                                    in person so you understand how simple it is to get your employees volunteering for a great cause in a flexible, convenient
                                    and non-disruptive way.
                                  </div>
                                </div>
                              </div>
                            <div class="card">
                                <div class="card-header" id="headingtwo">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeds" aria-expanded="false" aria-controls="collapseThree">
                                       <span> Can ProPair count towards my organisation’s Corporate Social Responsibility (CSR)/volunteering hour objectives?</span>
                                      <img src="assets/images/triangle-shape.png" alt="img">
                                    </button>
                                   
                                  </h5>
                                </div>
                                <div id="collapseThreeds" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">
                                  <div class="card-body">
                                      Yes.
                                  </div>
                                </div>
                              </div>
                            <div class="card">
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreees" aria-expanded="false" aria-controls="collapseThree">
                                   <span> Does ProPair
                                    contribute towards
                                    Continuing Professional Development (CPD) requirements
                                    for numerous professional bodies?</span>
                                    <img src="assets/images/triangle-shape.png" alt="img">
                                  </button>
                                 
                                </h5>
                              </div>
                              <div id="collapseThreees" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Yes.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="see-al">
                                <a href="faq.html" class="gradint-btn">See all FAQ</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- frequently-asked close -->
  

   <!-- feedback -->
   <section class="feedback-wrapper become-ad-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-wrapper text-center">
                    <h3 class="heading clr-black">What Our Advisors Are Saying About ProPair</h3>
                </div>
            </div>
            <div class="col-md-12">
               <div class="slider">
                <div id="owl-two"  class=" owl-carousel owl-theme">
                    <div class="item">
                        <p>“My whole experience so far has been really positive. It's a great opportunity to help
                            young people chart
                            their career path and make a real difference.”
                            </p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a5.png" alt="img"> -->
                            <div class="profesion">
                                <h6 class="heading">James</h6>
                                <span>  SAP Project Management</span>
                                <img src="assets/images/aplle-logo.png" alt="img" style="height: 35px; width: 32px;">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p>“I wish this service was around
                            when I was in sixth form as it would have saved me a
                            lot of time and worry. I think it's great being able to share my experience with
                            students, answer their questions and give straight forward tips and advice about the
                            sector I work in.”</p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a2.png" alt="img"> -->
                            <div class="profesion">
                                <h6 class="heading">Richard</h6>
                                <span>Management Consultancy</span>
                                <img src="assets/images/slideraccenturesfd.png" alt="img" style="height: 38px; width: 95px;">
                           </div>
                        </div>
                    </div>
                    <div class="item">
                        <p>"I've been wanting to do some volunteering but have very little free time and this
                            for me is a great solution.”
                            </p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a4.png" alt="img"> -->
                            <div class="profesion">
                                <h6 class="heading">Nathan</h6>
                                <span>Corporate Finance</span>
                                <img src="assets/images/pwc.png" alt="alt" style="height: 48px; width: 60px;">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p>“ProPair is a no brainer for any professional looking to give back in a flexible and
                            convenient way. It makes me feel happy knowing a relatively small effort from me
                            can
                            make a
                            real & positive
                            impact.” 
                            </p>
                        <div class="user-detail">
                            <!-- <img src="assets/images/a3.png" alt="img"> -->
                            <div class="profesion">  
                                <h6 class="heading">Harriet</h6>
                                <span>Doctor</span>
                                <img src="assets/images/NHSblue.png" alt="alt" style="height: 27px; width: 60px;">
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
</section>
 <!-- feedback close-->

    <app-footer></app-footer>
