<header class="header">
  <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand" ><img src="assets/images/logonewvc.png" alt="img"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="openNav()">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <!-- <ul class="navbar-nav"> -->
                      <!-- <li class="nav-item ">
                      <a class="nav-link" >About us <span class="sr-only">(current)</span></a>
                      </li> -->
                      <!-- <li class="nav-item">
                      <a class="nav-link visithows" href="index.html#howits">How it works</a>
                      </li> -->
                      <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Get involved
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a>Become a partner school</a>
                              <a>Volunteer as an Advisor</a>
                              <a>Become a partner employer</a>
                           </div>
                      </li> -->
                      <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle login " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Login
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a>Student</a>
                              <a>Educator</a>
                              <a>Advisor</a>
                           </div>
                      </li> -->
                  <!-- </ul> -->
                  </div>
          </nav>   
  </div>
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <ul class="navbar-nav">
          <li class="nav-item ">
          <a class="nav-link" >About us <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link" href="#howits">How it works</a>
          </li> -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Get involved
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a>Become a partner school</a>
                  <a>Volunteer as an Advisor</a>
                  <a>Become a partner employer</a>
              </div>
               
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle login gradint-btn " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a>Student</a>
                  <a>Educator</a>
                  <a>Advisor</a>
               </div>
          </li>
      </ul>
  </div>
</header>

<div class="add-space">

</div>

<div class="padd-50 bg-color">
    <div class="row">
      <div class="col-md-12">
          <div class="heading-wrapper">
              <h3>Advisor Signup</h3>
          </div>
          <div class="w-100">
              <!-- steps wrapper -->
                  <!-- multistep form -->
                  <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar" class="six-m-stpper">
                      <li class="active">Security</li>
                      <li [ngClass]="{'active':studentService.AdvisorNewMessageTab2 }">Personal Info</li>
                      <li [ngClass]="{'active':studentService.AdvisorNewMessageTab3 }">Brief Bio</li>
                      <li [ngClass]="{'active':studentService.AdvisorNewMessageTab4 }">Career Path</li>
                      <li [ngClass]="{'active':studentService.AdvisorNewMessageTab5 }">Education</li>
                      <li [ngClass]="{'active':studentService.AdvisorNewMessageTab6 }">My Advice Areas</li>
                        
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                     <router-outlet></router-outlet>
           
                    </fieldset>
                       <!-- fieldsets close-->

                <!-- 3 -->

          <!-- 4 -->

<!-- steps wrapper close -->
                        </form>
                    
          </div>
      </div>
      
   </div>
  </div>


  <ngx-spinner 
  bdColor="rgba(255,255,255,0.10)"
  [fullScreen]= "false">
  <img style=" width: 100px; height: 100px;" src="assets/images/loadingg.gif" />
    
    </ngx-spinner>