<app-header></app-header>
<div class="add-space"></div>
<section class="sign-up login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="demand-wrapper bg-none">
                        <div class="heading-wrapper text-center">
                                <h3 class="h3-heading">Forgotten Password</h3>
                        </div>
                    </div>
                    <div class="sign-up-wrapper ">
                        <div class="login-heading">
                            <div class="rquest-demo-block w-100 text-center">
                                <p>Enter Your Email</p>
                            </div>
                        </div>
                            <form [formGroup]="forgetForm" class="errormsg" (ngSubmit)="send()">
                                <!-- <p class="switchoff">Switch to Email/Password Login</p> -->
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputEmail"  placeholder="Your email address" 
                                    formControlName="email" >

                                    <div *ngIf="(forgetForm.get('email').invalid) && (forgetForm.get('email').touched)">
                                        <!-- <div *ngIf="signupForm.get('password').errors.required"><font color="red">Password is required</font></div> -->
                                        <div *ngIf="forgetForm.get('email').errors.required"><font color="red">Email is required</font></div>
                                        <div *ngIf="forgetForm.get('email').errors.email"><font color="red">Please enter valid email</font></div>
                                    </div>

                                </div>
                                <div class="w-100 sign-btn text-center login-btn-wrapper">
                                      <div class="right">
                                        <button>Send</button>
                                      </div>
                                </div>
                            </form>
                    </div>
                  <!-- <div class="already-signup text-center">
                        <h4>Been give a Code by your teacher?</h4>
                        <p><a routerLink="/student/studentSignup">Log in for the first time</a></p>
                  </div> -->
            </div>
        </div>
    </div>
</section>


<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(22,36,75,0.35)"
size = "medium"
color = "#080041"
type = "ball-square-clockwise-spin"
[fullScreen] = "true"
>
<p style="color: white" > Please wait... </p>
</ngx-spinner>