.eye-pass{position: relative;}
.eye-pass i{position: absolute; right: 15px; top: 38px; font-size: 25px; opacity:0.4;}
.sign-up {padding:38px 0 0 0; height: 100vh;}
.sign-up .demand-wrapper .h3-heading {font-size: 35px; color: #373636; margin-bottom: 0; line-height: 24px;}
.sign-up .demand-wrapper a{    font-size: 20px; font-weight: 500; border-bottom: 3px solid #33e2d1;}
.sign-up-wrapper {margin: 50px auto 50px auto;}
.login-heading p{ line-height: 40px; margin-bottom: 0; font-size: 18px;}
.login-heading h3{ font-size: 34px; line-height: 40px; margin-bottom: 0;}
.login-heading{ margin: -70px -45px 0 -45px !important;  height: 110px;}
.switchoff{margin: 30px 0;  font-size: 20px;  text-align: center;     color: #373636; }
.sign-up-wrapper .form-group input{ font-size: 18px; color: #373636; border: 2px solid #f0f0f0;  height: 70px; margin: 12px 0;}
.sign-btn button{ padding: 11px 85px;  font-size: 24px;     box-shadow: none;}
.sign-btn a { line-height: 24px; color: #007de4 !important; margin-top: 45px;}
.sign-up-wrapper{ padding: 70px 40px 45px 40px; border-radius: 15px; overflow: hidden;     max-width: 500px; box-shadow: -1px 0 13px 0px rgba(0, 0, 0, 0.1);}
.already-signup h4{color: #373636; font-size: 24px;}
.login-wrapper .already-signup h4 {margin: 20px 0 0px 0;}
.sign-up-wrapper .form-group{margin: 0 0;}
.sign-btn{margin-top: 28px;}
form.errormsg {margin-top: 40px;}

@media(max-width:1600px){
    .add-space{    margin-top: 106px;}
    .sign-up .demand-wrapper .h3-heading {font-size: 24px; line-height: 36px; }
    .sign-up-wrapper{    margin: 30px auto 15px auto;}
    .login-heading{height: 90px;}
    form.errormsg{    margin-top: 0;}
    .sign-up-wrapper .form-group input{margin: 20px 0; font-size: 16px; height: 55px;}
    .sign-btn{margin-top: 0px;}
    .sign-btn button{ padding: 11px 71px;  font-size: 18px; }
 
}