<app-header></app-header>
<section class="sign-up login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="demand-wrapper bg-none">
                        <div class="heading-wrapper text-center">
                                <h3 class="h3-heading"></h3>
                        </div>
                    </div>
                    <div class="sign-up-wrapper ">
                        <div class="login-heading">
                            <div class="rquest-demo-block w-100 text-center">
                                <h3>Enter New Password</h3>
                                <!-- <h3>Login?</h3> -->
                            </div>
                        </div>
                            <form [formGroup]="newForm" class="errormsg" (ngSubmit)="newPasswordSubmit()">
                                <!-- <p class="switchoff">Switch to Email/Password Login</p> -->
                                <div class="form-group eye-pass">
                                    <input type="password" class="form-control" id="exampleInputEmail"  placeholder="New Password"
                                    formControlName="password" [type]="this.fields.password ? 'text' : 'password'">
                                    <i  [class]="
                                    this.fields.password
                                      ? 'fa fa-eye'
                                      : 'fa fa-eye-slash'
                                  " (click)="showPassword('password')"></i>

                                </div>
                                <div class="form-group eye-pass">
                                    <input type="password" class="form-control" id="exampleInputEmail1"  placeholder="confirm password"
                                    formControlName="confirmPassword" [type]="this.newFields.confirmPassword ? 'text' : 'password'">
                                    <i  [class]="
                                    this.newFields.confirmPassword
                                      ? 'fa fa-eye'
                                      : 'fa fa-eye-slash'
                                  " (click)="showConfirmPassword('confirmPassword')"></i>
                                </div>
                                <div class="w-100 sign-btn text-center login-btn-wrapper">
                                      <div class="right">
                                        <button>Login</button>
                                        <a routerLink='/forget-password'>Forgotten your password?</a>
                                      </div>
                                </div>
                            </form>
                    </div>
                  <!-- <div class="already-signup text-center">
                        <h4>Been give a Code by your teacher?</h4>
                        <p><a routerLink="/student/studentSignup">Log in for the first time</a></p>
                  </div> -->
            </div>
        </div>
    </div>
</section>


<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(22,36,75,0.35)"
size = "medium"
color = "#080041"
type = "ball-square-clockwise-spin"
[fullScreen] = "true"
>
<p style="color: white" > Please wait... </p>
</ngx-spinner>