.newed-stud .dasshbord-content-wrapper{margin: 30px 0;}

.dasshbord-content-wrapper{ padding: 50px; border-radius:12px ;height: 270px;     margin-top: 70px; margin-bottom: 70px; }
.dasshbord-content-wrapper h3{font-size: 24px; color: #33e2d1; line-height: 36px;  font-family: 'Source Sans Pro', sans-serif;  font-weight: 600;}
.dasshbord-content-wrapper span{color: #bdbdbd !important; line-height: 40px;}
.dasshbord-content-wrapper .live-request{margin-top: 0;}
.dasshbord-content-wrapper .to-list {display: flex; flex-direction: column;     font-size: 20px; margin-top: 20px;}

.dasshbord-content-wrapper.eductor-dasbrd{padding: 30px 40px;     margin-top: 50px; margin-bottom: 30px;     background: #fff;}
.dasshbord-content-wrapper.eductor-dasbrd .live-request .number{justify-content: space-between;}

.dasshbord-content-wrapper .ab-rl .nav-tabs li a{line-height: 24px;}

.dasshbord-content-wrapper .live-request .number{margin-top: 30px;}

.dasshbord-content-wrapper{background: #fff;}

.new-educatorBandC .message-listing-wrapper .main{    padding: 40px 40px;}
.new-educatorBandC .basd-profile{margin-bottom: 20px;}
.new-educatorBandC .multibtns{display: flex; width: 69%; justify-content: flex-end;}
.new-educatorBandC .multibtns .custom-selects.mnr{ margin-right:20px;  }

.new-educatorBandC .deflt-widr{max-width: 240px;}

.new-educatorBandC .aprv-dc-btns{width: 31%; text-align: right;}

.new-educatorBandC table img{height:17px; width: 18px;}

.message-listing-wrapper .main{ padding: 20px 35px  40px 35px; background: #fff; border-radius:12+px; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px; }
.message-listing-wrapper .tab-content{padding: 0;}


.message-listing-wrapper .basic-membership .table-wrpper .table td span{color:#b3b2b2;}
.message-listing-wrapper .basic-membership .table-wrpper .table td{font-weight: 400; color: #373636; cursor: pointer;}
.message-listing-wrapper .linking-wrapper{margin-top: 10px;}

.message-listing-wrapper .table th { padding: 17px 25px !important; white-space: nowrap;}
.message-listing-wrapper .table td {padding: 17px 25px;vertical-align: middle;}

.basd-profile {display: flex; justify-content: space-between; align-items: center;}
.basd-profile p{	font-family: 'Source Sans Pro', sans-serif; font-weight:400; color: #7f7f7f; font-size: 16px;}
.basd-profile a{color: #007de4;}

.custom-selects {max-width: 200px; width: 100%;}
.custom-selects select{ padding: 0 18px; height: 40px; width: 100%; border: 1px solid #efefef;   border-radius:6px; -webkit-appearance: none; background: url(/assets/images/cus-sl-arrow.png) 93% / 6% no-repeat #fff; color: #b3b2b2; font-size: 16px; font-family: 'Source Sans Pro', sans-serif; font-weight:400;}

.aprv-dc-btns a{
    margin-left: 10px;
    border-radius: 6px;
    background: #33e2d1;
    color: #fff;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 170px; }

  .aprv-dc-btns a.not{background: #e4e4e4; color: #7f7f7f;}


  .invoicebilling .table-wrpper{ background: #fff; border: 2px solid #f2f2f2; border-radius: 25px; }
  .invoicebilling .table-wrpper table{width:100%;}

  .basic-membership .classes.pd-50 {
	padding-right: 50px;
  }
  
  .basic-membership .classes div p {
	font-size: 14px;
	line-height: 40px;
  }
  
  .basic-membership .addstudent {
	display: flex;
	justify-content: space-between !important;
	margin-top: 40px !important;
  }
  
  .basic-membership .addstudent a {
	margin: 0 15px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #33e2d1;
	padding: 23px 0;
	border-radius: 6px;
	display: block;
	max-width: 310px;
	width: 100%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
  }
  
  .basic-membership .addstudent a:hover {
	color: #fff;
	cursor: pointer;
  }
  
  .basic-membership .studdent-table {
	padding: 58px 0 30px 0;
  }
  
  .basic-membership .studdent-table h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
  }
  
  .basic-membership .studdent-table span {
	display: flex;
	;
  }
  
  .basic-membership .studdent-table span p {
	font-size: 16px;
	padding-right: 20px;
	margin-bottom: 0;
	color: #373636
  }
  
  .basic-membership .studdent-table span Select {
	font-size: 16px;
	color: #707070;
	background-color: white !important;
	border: 1px solid #b6b6b6;
  }
  
  .basic-membership .studdent-table a {
	color: #007de4;
	text-align: right;
	font-size: 16px;
	display: block;
  }
  
  .basic-membership .table-wrpper {
	border: 1px solid #efefef;
	border-radius: 12px;
	overflow-x: auto;
	background: #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
  }
  
  .basic-membership .table-wrpper .table td,
  .table th {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 16px;
	border-top: none;
  }
  
  .basic-membership .table-wrpper .table th {
	color: #000;
	padding: 12px;
	border-bottom: 1px solid #efefef;
  }
  
  .basic-membership .table-wrpper .table td {
	font-size: 14px;
	border-bottom: 1px solid #efefef;
  }
  
  .basic-membership .table-wrpper .table-striped tbody tr:nth-of-type(odd) {
	background-color: #fafafa;
  }
  
  .basic-membership .table-wrpper table tbody {
	height: 25px;
	overflow-y: auto;
  }
  
  .basic-membership .table-wrpper table {
	width: 100%;
  }

  .iline .form-group {margin-bottom: 0px;     line-height: 0;}
  .iline .form-group label{line-height: 20px;}
  .iline .form-group input:checked+label:after{    top: 3px;}

  .iline {
	display: flex;
  }
  
  .iline .form-group {
	display: block;
	margin-bottom: 0px;
	width: 50%;
	position: relative;
  }
  
  .iline .form-group input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 13px;
	opacity: 0;
	left: 7px;
	z-index: 99;
  }
  
  .iline .form-group label {
	position: relative;
	cursor: pointer;
	color: #bdbdbd;
	font-size: 14px;
	line-height: 35px;
	white-space: nowrap;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .iline .form-group label:before {
	content: '';
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #efefef;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
  }
  
  .iline .form-group input:checked+label:after {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 9px;
	width: 6px;
	height: 14px;
	border: solid #373636;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
  }

  .close-modal-icon .modal-footer button {
      width:43%;
  }


  .handCursor {
	cursor: pointer;
  }
  .selecttypeinpt{
	padding: 0 18px;
    height: 42px;
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 9px;
    -webkit-appearance: none;
    background: #fff;
    color: #b3b2b2;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }
  h5.modal-title{font-size: 30px; font-weight: 600;}

  .masseage-sucess p{    font-size: 16px;
    line-height: 24px;
	margin: 15px 0;
}

.uicke .modal-dialog-centered{    margin: 0 0;}
.uicke .modal-dialog-centered::before {
  height: 100% !important;
}

.uicke .modal-body img{height: 60px;}

#checkth,#checktd { display:flex; position: relative; }
#checkth span,#checktd span { margin-top: 9px; }

  @media(max-width:1600px){
	  #checkth{ top: 1px; }
	.basic-membership .table-wrpper table {
		width: 100%;
	  }
	h5.modal-title{font-size: 22px;}
    .close-modal-icon .flex-row-wrapper p{       margin: 5px 0; font-size: 16px;}
	.dasshbord-content-wrapper{    padding: 30px 30px;}
	.new-educatorBandC .message-listing-wrapper .main{    padding: 30px 30px;}
	.dasshbord-content-wrapper h3{font-size: 20px;     line-height: 24px; margin-bottom: 0;}
	.newed-stud .dasshbord-content-wrapper{height: auto;}
	.live-request .number div p{line-height: 24px;}
	.aprv-dc-btns a{font-size:18px; max-width: 125px;}
  }

  @media(max-width:1350px){
	.basic-membership .table-wrpper table {
		width: 903px;
	  }
	.custom-selects select { font-size: 11px; }
	.aprv-dc-btns a{font-size:18px; max-width: 113px;}
  }

  @media(max-width:991px){
	.new-educatorBandC .aprv-dc-btns{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.new-educatorBandC .multibtns{
		width: 100%;
	}
	.basd-profile{
		flex-direction: column;
	}
  }
  @media(max-width:767px){
	.dasshbord-content-wrapper{    padding: 15px 15px;}
	.new-educatorBandC .message-listing-wrapper .main{padding: 15px 15px;}
  }

  @media(max-width:575px){
	.new-educatorBandC .multibtns{flex-direction: column;}
	.new-educatorBandC .deflt-widr{  max-width: 100%;  margin-right: 0;}
	.custom-selects{    max-width: 100%}
	.close-modal-icon .flex-row-wrapper p:first-child{    width: 54%;}
	.close-modal-icon .modal-footer{flex-direction: column;}
	.close-modal-icon .modal-footer button{width: 100%;}
	h5.modal-title{font-size: 20px;}
  }