<div  id="MyDIv">
    <section class="invoive-header">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                      <div class="head">
                              <img src="assets/images/logo.png" alt="">
                              <h1>Invoice</h1>
                      </div>
              </div>
          </div>
      </div>
  </section>
  <section class="officeadd">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="address">
                      <div>
                          <p>ProPair Community Interset Company</p>
                          <p>Beech House</p>
                          <p>School Lane</p>
                          <p>Crewe</p>
                          <p>CW3 0BA</p>
                      </div>
                      <div class="text-right">
                          <p>6th Jan 2022</p>
                          <p>Invoice number: 2654</p>
                          <p>Payment due by 30th Mar 2025</p>
                      </div>
                  </div>  
              </div>
          </div>
      </div>
  </section>
  <section class="officeadd billto">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="address">
                      <div class="w-100"> 
                          <h2>Bill To</h2>
                          <hr>
                          <p>Contact Name</p>
                          <p>School Name </p>
                          <p>Address</p>
                          <p>Phone</p>
                          <p>Email</p>
                      </div>
                  </div>  
              </div>
          </div>
      </div>
  </section>
  <section class="tablewrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="text-right memberitalic">
                      <p><i>* all memberships include 2 free credits per student</i></p>
                  </div>
                  <div class="wrapper">
                      <table class="table ">
                          <thead>
                            <tr>
                              <th scope="col">DESCRIPTION</th>
                              <th scope="col">QTY</th>
                              <th scope="col">UNIT PRICE</th>
                              <th scope="col">PRICE</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                             <td>Membership</td>
                              <td>01</td>
                              <td>£625.00</td>
                              <td>£625.00</td>
                            </tr>
                            <tr>
                             <td>up to 50 students (included for free)</td>
                              <td>N/A</td>
                              <td>N/A</td>
                              <td>N/A</td>
                            </tr>
                            <tr>
                             <td>5 credits per student</td>
                              <td>250</td>
                              <td>£1.50</td>
                              <td>£375.00</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="payment">
      <div class="container">
          <div class="row">
                  <div class="col-md-12">
                          <div class="instruction">
                              <div class="bankdetails">
                                  <h2>payment<br> instructions</h2>
                                  <p><span>Bank Name:</span><span>Cashplus</span></p>
                                  <p><span>Account No:</span><span>00149227</span></p>
                                  <p><span>Sort Code:</span><span>08-71-99</span></p>
                                  <p><span>Reference:</span><span>2654</span></p>
                              </div>
                              <div class="subtotal">
                                  <table class="table">   
                                      <tbody>
                                        <tr>
                                          <td>subtotal</td>
                                          <td>£1,000.00</td>
                                        </tr>
                                        <tr>
                                          <td>DISCOUNT</td>
                                          <td>£0.00</td>
                                        </tr>
                                        <tr>
                                          <td>SUBTOTAL LESS DISCOUNT</td>
                                          <td>£1,000.00</td>
                                        </tr>
                                        <tr>
                                          <td>VAT</td>
                                          <td>20%</td>
                                        </tr>
                                        <tr>
                                          <td>total tax</td>
                                          <td>£200.00</td>
                                        </tr>
                                        <tr class="total-balance">
                                            <td>balance due</td>
                                            <td>£1,200.00</td>
                                        </tr>
                                      </tbody>
                                    </table>
                              </div>
                          </div>
                  </div>
          </div>
      </div>
  </section>
  <section class="websitelink">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="text-center">
                      <p>If you have any questions concerning this invoice please do not hesitate to get in touch.</p>
                      <p>Thank you so much for your business and support in helping unlock the potential of young people in the UK.</p>
                      <ul>
                          <li><a href="#">Phone: +447969359342</a></li>
                          <li><a href="#">Email: hello@propair.me</a></li>
                          <li><a href="#">Website: www.propair.me</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>

  <button >Gernrate PDF</button>