<body>
    <app-home-header></app-home-header> 

    <!-- request demo wrappper -->
    <!-- <section class="request-demo-wrapper vission-c">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-wrapper">
                        <h1 class="heading">Our Vision</h1>
                        <p>Imagine if every young person - regardless of background, ability or location - could get answers to their career questions from real professionals speaking from real-life experience.
                            <br>
                            <br>
                            Imagine if we could capture this information and unleash it in the clasroom. Just think of all the potential that cound be unlocked.
                            <br>
                            <br>
                            That's why we built ProPair.
                        </p>
                    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="imag-wrapper">
                        <img src="assets/images/vision_rev.svg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="request-demo-wrapper vission-c">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-wrapper">
                        <h1 class="heading">Our Vision</h1>
                        <p>Imagine if every young person - regardless of background, ability or location - could get answers to their career questions from real professionals speaking from real-life experience.
                            <br>
                            <br class="shd">
                            <span class="paragrphspace"></span>
                            Imagine if we could capture this information and unleash it in the clasroom. Just think of all the potential that cound be unlocked.
                            <br>
                            <br class="shd">
                            <span class="paragrphspace"></span>
                            That's why we built ProPair.
                        </p>
                    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="imag-wrapper">
                        <img src="assets/images/vision_rev.svg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- request demo wrappper close-->
      <!-- percantage of student  -->
      <section class="real-lefe-world bd-remv percentages new-percentage-a aboutpersntg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="content-wrapper text-center">
                        <h3 class="heading">40%</h3>
                        <h5>UK students unhappy with, or regretting entirely, their university choices</h5>
                        <h6>The Student Room</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="content-wrapper text-center">
                        <h3 class="heading">43%</h3>
                        <h5>Millennials planning to leave their current jobs within two years</h5>
                        <h6>Deloitte</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="content-wrapper text-center">
                        <h3 class="heading">47%</h3>
                        <h5>Percentage of recent UK graduates working in non-graduate roles</h5>
                        <h6>UK Government</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="content-wrapper text-center">
                        <h3 class="heading">65%</h3>
                        <h5>Children today that will end up in careers that don’t even exit yet</h5>
                        <h6>World Economic Forum</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <!-- percantage of student  -->

<!-- request demo wrappper -->
<section class="the-problem-wrapper reverse">
    <div class="container">
        <div class="row">
           
            <div class="col-md-6">
                <div class="imag-wrapper">
                    <img src="assets/images/problem_rev.svg" alt="img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-wrapper">
                    <h1 class="heading">The Problem</h1>
                    <p> Most students are disconnected from the real-life world of work and as a result make sub-optimal decisions about their future.
                        <br>
                        <br class="shd">
                        <span class="paragrphspace"></span>
                        Schools simply do not have the time & resources necessary to help all their students
                        access career information and advice that's: 1) on demand 2) up to date 3) high
                        quality 4) based on firsthand experience 5) trustworthy 6) personalised and 7) based
                        on a full reflection of the opportunities out there.
                        <br>
                        <br class="shd">
                        <span class="paragrphspace"></span>
                        This all has negative consequences which can be seen in terms of education and
                        career regret, as well as students not realising their full potential. And it's the
                        disadvantaged students who are impacted most.
                    </p>
                
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- request demo wrappper close-->

 
  


      <!-- how its work -->
      <section class="help-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-wrapper text-center">
                        <h3 class="heading">How we can help</h3>
                        <div class="for-middle-content">
                            <p>We help schools bring their careers programme to life by making it easy for their
                                students to access high quality career advice and information from real professionals.                                            
                                <br>
                                <br class="shd">
                                <span class="paragrphspace"></span>
                                We empower young people to make better-informed decisions about their education & career.
                                <br>
                                <br class="shd">
                                <span class="paragrphspace"></span>
                                We give busy professionals a flexible, meaningful and quantifiable way to give back and develop themselves in the process.
                            </p>
                        </div>
                            <div class="img-wrper">
                                <img src="assets/images/how-we.svg" alt="img" class="cs">
                            </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="content-wrapper text-center mission">
                        <h3 class="heading">Our Model & Mision</h3>
                        <div class="for-middle-content">
                            <p>We set ProPair up as a social enterprise (a <a href="https://en.wikipedia.org/wiki/Community_interest_company" target="_new">community interest company</a> limited by
                                guarantee) so that it would always be true to its mission of unlocking the potential
                                of young people by preparing them for the world of work.
                                <br>
                                <br class="shd">
                                <span class="paragrphspace"></span>
                                    This means ProPair cannot be sold for private gain and all our net profits are
                                    reinvested back into the enterprise and social mission (check out our legal constitution
                                    <a href="https://beta.companieshouse.gov.uk/company/12556092/filing-history" target="_new">here</a>.)
                                <br>
                                <br class="shd">
                                <span class="paragrphspace"></span>
                                We believe this model is the best way to align the incentives of students, schools,
                                ProPair and our volunteer-base of professionals and create a financially sustainable
                                & high impact enterprise so we can: (i) provide our service free to disadvantaged young people and (ii) achieve our long term goal of donating 100% of
                                our net profits to a selection of charities aligned with our mission.
                            </p>
                        </div>
                        <div class="img-wrper">
                            <img src=" assets/images/Rev-2.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
      <!-- how its work close-->

      <!-- real life world -->
      <section class="real-lefe-world bd-remv engage-for-ab addvhelpyour abouthlp">
        <div class="container M-cont-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-wrapper text-center">
                        <h2 class="heading">Help your students craft their career with <br>advice from real professionals</h2>
                        <p>We're building the go-to place for students to engage with real-life professionals. Help us build something special, together, and request a demo today.</p>
                        <div class="rqust-demos-btn justify-content-center">
                            <a href="https://ben110028.typeform.com/to/yu9gjLbm" target="_blank" class="gradint-btn">Request Demo</a>
                            <a routerLink="/about-us" class="border-btn">Our Vision</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
      <!-- real life world close -->
      <!-- feedback -->
      <section class="feedback-wrapper smal-team-wrapper reverse">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="l-img-wrp">
                        <img src="assets/images/smallteam.svg" alt="img" class="w-100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-wrapper">
                        <h3 class="heading"> <span>A s</span>mall team with big plans</h3>
                        <p>We’re a hardworking and enthusiastic team passionate about unlocking the potential of young people - regardless of background, ability or location - by preparing them for the world of work.
                            <br><br class="shd">
                            <span class="paragrphspace"></span>
                        We think experienced professionals volunteering a bit of their time to help future job seekers is a powerful way to affect positive change in society as better informed career decision-making will lead to more people in careers they are good at and care about.
                        <br><br class="shd">
                        <span class="paragrphspace"></span>
                        If you would like to find out more and/or share your views with us then please do <a  href="#" style="font-weight: 700;">get in touch</a> as we would love to hear from you. 
                    </p>
                       
                    </div>
                </div>
                
            </div>
        </div>
    </section>
         <!-- feedback close-->


    <app-footer></app-footer>
</body>
