
                    <div id="B&b" class="tab-pane fade in active show"  style="background: #fafafa;">

                      <div class="editableontent-W">
                        <p *ngIf="!biography && noData">No Data</p>
                        <p *ngIf="!more && biography && noData">{{biography.length ? (biography | more) : 'No Data'}} <a href="javascript:void(0)" *ngIf="biography.length > 450" (click)="more=true;">More</a></p>
                        <p *ngIf="more && biography && noData">{{biography.length ? biography : 'No Data' }} <a href="javascript:void(0)"  *ngIf="biography.length > 450" (click)="more=false">Less</a></p>
                    </div>
                    <div class="message-listing-wrapper background-spec-cl">
                          <div class="basd-profile brief-bhead">
                            <p>My Message Exchanges</p>
                            <div class="custom-selects" >
                              <select name="" id="" style="cursor: pointer;" (change)="filterInbox($event.target.value)">
                                <!-- <option value="all">All</option> -->
                                <option value="public">Public</option>
                                <option value="private">Private</option>
                                
                            </select>
                            </div>
                        </div>
                        <div class="advisore-message-scr" *ngIf="inboxData?.length && noData">
                          <div class="invoicebilling basic-membership ">
                              <div class="table-wrpper">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col">Date Accepted</th>
                                      <th scope="col">Student</th>
                                      <th scope="col">Subject</th>
                                      <th scope="col">Views</th>
                                      <th scope="col">Up-votes</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr (click)="showDetail(inbox._id)" *ngFor="let inbox of inboxData; let i=index">                                                                                                                   
                                      <td>{{inbox.createdAt | date: 'dd  MMM  y'}}</td>
                                      <td> 
                                       <!-- <span *ngIf="inbox?.advisorId?.screenName">
                                        {{ inbox?.advisorId?.screenName }}
                                      </span> -->
                                      <span >
                                        {{ inbox?.student?.firstName ? inbox?.student?.firstName : "N/A"}}
                                      </span>
                                    </td>
                                      <td><p class="elipsis">{{inbox.title}}</p>                  
                                        <span class="elipsis">{{inbox.details}}</span>
                                      </td>
                                      <td>{{inbox.views}}</td>
                                      <td>{{inbox.upvotes}}</td>
                                    </tr>
                                    <!-- <tr>                                                                                                                   
                                      <td>Wed 30 Oct 2019</td>
                                      <td>BHS</td>
                                      <td><p>Should I do a degree in data science? the Msgzsfgzhzdgi.</p>                  
                                        <span  class="elipsis">They call me Mad Wolf and my career isn't going, Mdgsggdggdgdf.</span>
                                      </td>
                                      <td>2</td>
                                      <td>2</td>
                                    </tr>                
                                    <tr>                                                                                                                   
                                      <td>Wed 30 Oct 2019</td>
                                      <td>Mad</td>
                                      <td><p>Should I do a degree in data science? the Msgzsfgzhzdgi.</p>                  
                                        <span  class="elipsis">They call me Mad Wolf and my career isn't going, Mdgsggdggdgdf.</span>
                                      </td>
                                      <td>2</td>
                                      <td>2</td>
                                    </tr>          
                                    <tr>                                                                                                                   
                                      <td>Wed 30 Oct 2019</td>
                                      <td>Wendy</td>
                                      <td><p>Should I do a degree in data science? the Msgzsfgzhzdgi.</p>                  
                                        <span  class="elipsis">They call me Mad Wolf and my career isn't going, Mdgsggdggdgdf.</span>
                                      </td>
                                      <td>2</td>
                                      <td>2</td>
                                    </tr>                                                                             -->
                                  </tbody>
                                </table>
                              </div>
                          </div>
                      </div>
                      <div class="advisore-message-scr" *ngIf="!inboxData?.length && noData">
                        <div class="invoicebilling basic-membership ">
                            <div class="table-wrpper">
                              <p class="new">No data found</p>
                            </div>
                        </div>
                    </div>
                    </div>  
                  </div>