<div id="B_b" class="tab-pane fade in active show">
  <!-- <div class="editableontent-W">
    <p>
      <img src="assets/images/quicktip.png" alt="" /> This information is to
      help our Advisors understand you better but other students cannot see
      this.
    </p>
  </div> -->

  <div class="editableontent-W margin-tp-spcl">
    <div class="row align-items-center mb-1">
      <div class="col-auto">
        <p class="tip">
          <img src="assets/images/quicktip.png" alt="" /> This information is to
          help our Advisors understand you better but other students cannot see
          this.<br/>
        </p>
      </div>
      <div class="col-auto ml-auto">
        <a href="javascript:void(0)" (click)="editBio(temp)" class="pencil-icon" ><img style="height: 15px;" src="../../../../assets/images/editpen.png" alt="img"/></a>
      </div>
    </div>
    <p *ngIf="!biography">Please fill your brief biography</p>
    <!-- <p *ngIf="!more && biography" > {{ biography ? (biography | more) : "No Data" }}
      <a class="morebtn" href="javascript:void(0)" *ngIf="biography.length > 450" (click)="more = true">More</a>
    </p>
    <p *ngIf="more && biography">{{ biography }}</p> -->
    <p *ngIf="!more && biography">{{biography.length ? (biography | more) : 'No Data'}} <a href="javascript:void(0)" *ngIf="biography.length > 450" (click)="more=true;">More</a></p>
    <p *ngIf="more && biography">{{biography.length ? biography : 'No Data' }} <a href="javascript:void(0)"  *ngIf="biography.length > 450" (click)="more=false">Less</a></p>
    
  </div>

  <div class="message-listing-wrapper background-spec-cl">
    <div class="basd-profile brief-bhead">
      <p>My Message Exchanges</p>
      <div class="custom-selects" >
        <select
          name=""
          id=""
          style="cursor: pointer"
          (change)="filterInbox($event.target.value)"
        >
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div>
    </div>
    <div class="advisore-message-scr" *ngIf="inboxData?.length && noData">
      <div class="invoicebilling basic-membership">
        <div class="table-wrpper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date Accepted</th>
                <th scope="col">Advisor</th>
                <th scope="col">Subject</th>
                <th scope="col">Views</th>
                <th scope="col">Up-votes</th>
              </tr>
            </thead>
            <tbody>
              <tr
                (click)="showDetail(inbox._id)"
                *ngFor="let inbox of inboxData; let i = index"
              >
                <td>{{ inbox?.createdAt | date: "dd  MMM  y" }}</td>
                <td>
                  <span *ngIf="inbox?.advisorId?.screenName">
                    {{ inbox?.advisorId?.screenName }}
                  </span>
                  <span *ngIf="!inbox?.advisorId?.screenName">
                    {{ inbox?.advisorId?.firstName }}
                  </span>

                </td>
                <td>
                  <p class="elipsis">{{ inbox?.title }}</p>
                  <span class="elipsis">{{ inbox?.details }}</span>
                </td>
                <td>{{ inbox?.views }}</td>
                <td>{{ inbox?.upvotes }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="advisore-message-scr" *ngIf="!inboxData?.length && noData">
      <div class="invoicebilling basic-membership">
        <div class="table-wrpper">
          <p class="new">No data found</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Starts -->
<ng-template #temp>
  <div class="close-modal-icon meesage-checklist">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Biography</h5>
        <button
          type="button"
          class="close"
          (click)="modalRef2.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="../../../../assets/images/close-icon.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mess-re-ex">
          <textarea cols="30" [(ngModel)]="biography"></textarea>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="green"
          data-dismiss="modal"
          (click)="biographyData()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal Ends -->
