.student-r-wrapper .ab-rl .nav-tabs li a{line-height:24px; font-size: 24px;     margin: 0 55px; color: #373636;}
.student-r-wrapper .group_analystic{margin-top: 0;}
.student-r-wrapper .ab-rl .nav-tabs{margin: 50px 0 30px 0;}
.student-r-wrapper .ab-rl .nav-tabs li a:first-child{margin-left: 0;}



.student-r-wrapper{padding:50px 35px;}
.student-r-wrapper h1{font-weight: 600;   font-family: 'Montserrat', sans-serif;}
.student-r-wrapper .timmy-tabb{margin-top: 50px;}
.student-r-wrapper .tab-content{box-shadow: 0px 0 9px rgba(0, 0, 0, 0.1); padding: 40px 40px; border-radius: 12px; background: #fff;}

.student-r-wrapper h1{font-size: 36px; margin-bottom: 0;}

.student-r-wrapper .tab-content.remv-prop{border-radius:12px;  padding:0;  box-shadow:none;}
@media(max-width:1600px){
    .student-r-wrapper h1{
        font-size: 24px;
    }
    .student-r-wrapper .ab-rl .nav-tabs{margin: 30px 0 30px 0;}
    .student-r-wrapper .ab-rl .nav-tabs li a{    margin: 0 30px; font-size: 16px;}
    .student-r-wrapper .ab-rl .nav-tabs li a.active{ font-weight: 600 }
}
@media(max-width:991px){
    .student-r-wrapper .ab-rl .nav-tabs{margin: 30px 0 15px 0;}
    .student-r-wrapper .ab-rl .nav-tabs li a{font-size: 22px;}
}
@media(max-width:767px){
    #setting{
        padding: 0 0;
    }
    .student-r-wrapper .ab-rl .nav-tabs{margin: 15px 0 15px 0; display: flex; flex-direction: column; align-items: center; border: 1px solid #ececec;}
    .student-r-wrapper .ab-rl .nav-tabs li a{font-size: 18px;     margin: 0 0px; display: block; padding: 10px 0;     border-bottom: 1px solid #ececec;}
    .student-r-wrapper .ab-rl .nav-tabs li:last-child a{border-bottom: none;}
    .student-r-wrapper .ab-rl .nav-tabs li{width: 100%;text-align: center;}
    .student-r-wrapper .ab-rl .nav-tabs li a.active{background:#33e2d1; color: #fff;}
}