
    <app-home-header></app-home-header> 
    <!-- frequently-asked -->
  <div class="see-feq-full">
    <section class="frequently-asked forfq" >
      <div class="container ">
          <div class="row">
              <div class="col-md-12">
                  <div class="content-wrapper text-center">
                      <div class="for-middle-content">
                          <h3 class="heading clr-black">Safeguarding Policy</h3>
                      </div>
                      <div class="safe-content mt-5">
                        <h5>Introduction</h5>
                        <p>This policy provides guidance on the procedures that will support and underpin the use of online
                          message exchanges between students and ProPair’s volunteer professionalsor as we call them“Advisors”). 
                          It is important that all staff, volunteers, teachers, parents, board/trustee members, or
                          anyone working on behalf of the organisation are aware of this policy and agree to the following terms.
                        </p>
                        <h5>Terms</h5>
                        <p>ProPair acknowledges the duty of care to safeguard and promote the welfare of children and is
                          committed to ensuring safeguarding practice reflects statutory responsibilities, government guidance
                          and complies with best practice.
                          <br/>
                          The policy recognises that the welfare and interests of children are paramount in all circumstances.
                          It aims to ensure that regardless of age, ability or disability, gender reassignment, race, religion or belief,
                          sex or sexual orientation, socio-economic background, all children:
                        </p>
                        <ul>
                          <li>have a positive and enjoyable experience communicating with volunteer professionals 
                            online about their career in a safe and child centred environment; and
                          </li>
                          <li>
                            are protected from abuse whilst participating in message exchanges at ProPair.
                          </li>
                        </ul>
                        <p>ProPair
                          acknowledges that some children, including disabled children and young people or those from
                          ethnic minority communities, can be particularly vulnerable to abuse and we accept the responsibility
                          to take reasonable and appropriate steps to ensure their welf
                          are.<br/>
                          As part of our safeguarding policy
                          ProPair
                          will
                          :</p>
                          <ul>
                            <li>promote and prioritise the safety and wellbeing of children and young people
                            </li>
                            <li>
                              ensure everyone understands their roles and responsibilities in respect of safeguarding and is
                              provided with appropriate
                              learning opportunities to recognise, identify and respond to signs
                              of abuse, neglect and other safeguarding concerns relating to children and young people
                            </li>
                            <li>
                              ensure appropriate action is taken in the event of incidents/concerns of abuse and support provided
                              to the individual/s who raise or disclose the concern
                            </li>
                            <li>
                              ensure that confidential, detailed and accurate records of all safeguarding concerns are
                              maintained and securely stored
                            </li>
                            <li>
                              prevent the employment/deployment of unsuitable individuals (staff or volunteer professionals)
                            </li>
                            <li>
                              ensure robust safeguarding arrangements and procedures are in operation
                            </li>
                          </ul>
                          <p>
                            The policy and procedures will be widely promoted and are mandatory for everyone involved ProPair.
                            Failure to comply with the policy and procedures will be addressed
                            without delay and may ultimately result in dismissal/exclusion from the organisation.
                          </p>
                          <h5>How we Seel to Ensure the Fidelity & Integrity of the ProPair Community</h5>
                          <br/><br/>
                          <ul>
                            <li>All
                              ProPair
                              staff are recruited safely and with rigour, and where staff are engaged in Regulated
                              Activity (as defined by UK law) they are Enhanced DBS checked (incl. a check on the UK
                              Children’s Barred List)</li>
                              <li>
                                For all
                                Advisors
                                connecting with
                                students
                                under the age of 18 (or if law requires a person to
                                be older than 18 years of age to be considered an adult then
                                students
                                under this older age)
                                we perform and consider other background checks & information to maintain a safeguarded
                                environment
                              </li>
                              <li>
                                We focus o
                                n delivering high
                                -
                                standards of live platform monitoring, which is often more
                                extensive and effective than in
                                -
                                person supervision can be
                              </li>
                              <li>
                                All staff,
                                Advisors
                                and students are provided training by
                                ProPair
                                on appropriate behaviour and
                                interaction
                              </li>
                              <li>
                                All
                                Advisors
                                a
                                nd students agree to our Terms of Use & Safeguarding Policy incl
                                uding
                                agreeing
                                not to communicate outside of the
                                ProPair
                                platform
                              </li>
                              <li>
                                Our platform is closely monitored for inappropriate language & images (by both automatedbots & humans)
                              </li>
                              <li>
                                We recommend students under the age of 18 (or if law
                                requires a person to be older than 18
                                years of age to be considered an adult then under such older age) seek parental consent
                                before taking part and provide forms for this (students must be aged 13 or older to use our
                                services)
                              </li>
                              <li>
                                We are on-hand to support both students and
                                Advisors throughout their use of our services
                              </li>
                              <li>
                                We maintain effective complaints and whistleblowing measures (see Designated Safeguarding Officer contacts below)
                              </li>
                          </ul>
                          <br/>
                          <p>
                            We are committed to reviewing our policy and good practice on a regular basis.
                            If any concerns or issues arise in relation to child & youth safeguarding they are to be reported to
                            the Designated Safeguarding Officer detailed below immediately who will advise accordingly and
                            likely coordinate with the Safeguarding Lead within the relevant school, charity or employer.
                          </p>
                          <p><i><u>Designated Safeguarding Officer (DSO):</u></i><br/>Benjamin Smith: <a href="mailto:ben@propair.me">ben@propair.me</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  <!-- frequently-asked close -->

<app-footer></app-footer>
