.add-qualif-wrapper {
    padding: 0 40px;
}
 .tab-pane {
    padding: 20px 0px;
}
 .tab-pane a.add-qualif {
    color: #2688e6;
    font-size: 16px;
    padding: 7px 20px;
    display: inline-block;
    border: 1px solid #efefef;
    border-radius: 12px;
}
.invoicebilling {
    margin-top: 20px;
}
.invoicebilling .table-wrpper {
    border-radius: 0;
    border: none;
}
.invoicebilling .table-wrpper table {
    width: 100%;
}
.invoicebilling.diffrent-tbl table thead th {
    padding: 15px 40px;
    font-size: 18px;
    color: #373636;
    font-family: 'Source Sans Pro', sans-serif;
  }
.basic-membership .table-wrpper table tbody {
    height: 25px;
    overflow-y: auto;
}

.diffrent-tbl.invoicebilling table tbody tr td {
    padding: 15px 40px;
    font-size: 16px;
    color: #7f7f7f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#Skills .banjo-g span {
    margin-left: 15px;
}

//Modal-css
.advisor-modal #career-path .modal-header {
    padding: 22px 35px;
  }
  
  .advisor-modal .modal-header {
    /* background: #e4e4e4; */
    padding: 40px;
    align-items: center;
  }
  .advisor-modal .modal-body {
    padding: 40px 40px;
  }
  .advisor-modal #career-path .modal-body .form-group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .advisor-modal #career-path .modal-body label {
    font-size: 20px;
    color: #373636;
    font-family: 'Source Sans Pro', sans-serif;
    width: 20%;
    padding-right: 15px;
    text-align: right;
    margin-bottom: 0;
  }
  .advisor-modal #career-path .modal-body input {
    font-size: 20px;
    color: #373636;
    border: 1px solid #eee;
    padding: 5px 20px;
    border-radius: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
  }
  .advisor-modal #career-path .modal-body select {
    font-size: 20px;
    color: #373636;
    border: 1px solid #eee;
    padding: 5px 20px;
    -webkit-appearance: none;
    border-radius: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    background: url(../../../../../../assets/images/drpd.png) 97% / 5% no-repeat;
  }
  
  
  .advisor-modal #career-path .btns {
    margin: 0 auto;
  }
  .advisor-modal #career-path .btns .trans {
    color: #2688e6;
    font-size: 18px;
    background: transparent;
  }
  .advisor-modal #career-path .btns a {
    font-size: 20px;
    border-radius: 9px;
    margin: 0 auto;
    text-align: center;
    background: #33e2d1;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    height: 50px;
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .advisor-modal #career-path .modal-body .in-chkbox label p {
    line-height: 24px;
    margin: 0 28px;
    text-align: left;
  }
  .advisor-modal #career-path .modal-body .in-chkbox {
    width: 100%;
    margin-left: 20%;
    margin-top: 20px;
  }
  .advisor-modal #career-path .modal-body .in-chkbox label {
    width: 100%;
  }
  
  .requests-wrper .wrp .content-req{padding: 30px 30px;}

  #Skills .banjo-g span {
    margin-left: 15px;
}

#Skills .banjo-g span a{
  margin-left: 14px;
  margin-right: -12px;
}
#Skills .banjo-g span a img{
  height: 10px;
  opacity: 0.7;
  margin-bottom: 2px;
}
.banjo-g span {
  background: #fff;
  color: #7f7f7f;
  font-size: 14px;
  border: 1px solid #ecebeb;
  border-radius: 6px;
  padding: 0px 25px;
  height: 30px;
  display: inline-flex;
  align-items: center;
}

//   Radio Buttons

  .radiobts .radio-box p{ width: auto; white-space: nowrap; display: flex;}
.radiobts .radio-box p label{ width: 15% !important; height: 40px;}
.radiobts .radio-box [type="radio"]:checked+label, [type="radio"]:not(:checked)+label{padding-left: 45px !important; padding-top: 0 !important;}
.radio-box .spc{justify-content: space-between; display: flex;}
.radiobts .radio-box p span{ font-size: 20px; padding-top: 8px; line-height: 24px; padding-right: 10px; color: #373636;font-family: "Source Sans Pro", sans-serif;}
::ng-deep ngx-select-dropdown{width: 100% !important;}
::ng-deep .ngx-dropdown-container button{   width: 68%;   border: 1px solid #f0f0f0 !important; border-radius: 6px !important;  padding: 9px 20px !important;font-size: 20px !important;color: #373636 !important;font-family: 'Source Sans Pro', sans-serif !important;}
::ng-deep .ngx-dropdown-container button .nsdicon-angle-down::before{       opacity: 0.2; top: 10px !important;}
.advisor-modal #career-path .modal-body input::placeholder{
  color: #d4d4d4;
}
::ng-deep .ngx-dropdown-container button span{color: #d4d4d4;}

.advisor-modal #career-path .modal-body .form-group .reqrd{
  position: absolute;
  top:50px;
  left: 18%;
  color: red;
}

@media(max-width:1600px){
  .add-qualif-wrapper {
    padding: 0 15px;
  }
  .tab-pane a.add-qualif{
    font-size: 12px;
    border-radius: 6px;
    padding: 10px 20px;
  }
  .invoicebilling.diffrent-tbl table thead th{
    font-size: 14px;
    padding: 6px 40px;
  }
  .diffrent-tbl.invoicebilling table tbody tr td{
    font-size: 12px;
    font-weight: 500;
    padding: 3px 50px;
  }
  .diffrent-tbl.invoicebilling table tbody tr td:last-child{ padding: 3px 0; }
  .banjo-g span{
    font-size: 12px;
    height: 25px;
    border-radius: 4px;
    padding: 6px 20px;
  }
  .advisor-modal .modal-body {
    padding: 30px 30px;
  }
  .advisor-modal #career-path .modal-body label{
    font-size: 18px;
  }
  .advisor-modal #career-path .modal-body input {
    font-size: 16px;
  }
  .advisor-modal #career-path .btns a{
    max-width: 270px;
    font-size: 16px;
  }
  .advisor-modal #career-path .modal-body .form-group {
    margin-bottom: 15px;}
}
@media(max-width:575px){
  .add-qualif-wrapper{text-align: center;}
  .invoicebilling.diffrent-tbl table thead th{white-space: nowrap;}
  .radiobts .radio-box p span{
    font-size: 16px;
    padding-top: 0;
  }
  .advisor-modal .modal-body {
    padding: 15px 15px;
  }
}