<!-- help center  -->
<div id="helpcenter" class="tab-pane fade">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="heading-wrapper">
            <h3>Help Center</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="group_analystic">
            <div class="metric">
              <h4>Getting Started</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="question-accord">
            <div id="accordion" class="accordion">
              <div class="card mb-0 parent">
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#getting1"
                >
                  <a class="card-title">
                    How do I set up my school account and password?</a
                  >
                </div>
  
                <div
                  id="getting1"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    You should have received a welcome email from ProPair that
                    contains a magic link (URL) to create your password and sign
                    into your account. If you have not received this or are
                    experiencing difficulties please get in touch with us via
                    email ( <a href="javascript:void(0)"> support@propair.me</a>)
                    or phone (XXXXXXXXXXXXXX).
                  </p>
                </div>
  
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#getting2"
                >
                  <a class="card-title">How do I add students?</a>
                </div>
                <div
                  id="getting2"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>Please watch this explainer video:</p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseThree"
                >
                  <a class="card-title">How do I remove students?</a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <p>Please watch this explainer video:</p>
                  </div>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseThree3"
                >
                  <a class="card-title">What are classes?</a>
                </div>
                <div
                  id="collapseThree3"
                  class="collapse"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <p>
                      Classes allow you to create a group of up to 30 students
                      e.g. “Y12 Class 3M: Accountancy” so you can get organised in
                      Student Directory. If you have subscribed to the Premium
                      Membership then classes is handy when looking at the Group
                      Analytics page.
                    </p>
                  </div>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseThree31"
                >
                  <a class="card-title">How do I add/remove classes?</a>
                </div>
                <div
                  id="collapseThree31"
                  class="collapse"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <p>Please watch this explainer video:</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="group_analystic">
            <div class="metric">
              <h4>Message Exchanges</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="question-accord">
            <!--Accordion wrapper-->
            <div id="accordion" class="accordion">
              <div class="card mb-0 parent">
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne1"
                >
                  <a class="card-title"> What is a Message Exchange? </a>
                </div>
  
                <div
                  id="collapseOne1"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    This is the name we have given to the series of messages
                    between a student and ProPair Advisor that begins with the
                    student’s initial career questions on a particular area.
                  </p>
                </div>
  
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseTwo2"
                >
                  <a class="card-title"
                    >What’s the different between a public and private Message
                    Exchange?
                  </a>
                </div>
                <div
                  id="collapseTwo2"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    A public Message Exchange means the Message Exchange is
                    available to all students and schools in the Library. A
                    private Message Exchange is private and therefore not
                    available in the Library.
                  </p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseTwo32"
                >
                  <a class="card-title"
                    >How does a student book a Message Exchange?
                  </a>
                </div>
                <div
                  id="collapseTwo32"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    They do this through our platform and follow our career
                    question wizard which helps ensure they submit a high quality
                    first message that gets matched to the best possible Advisor.
                    Please watch this explainer video:
                  </p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseTwo444"
                >
                  <a class="card-title"
                    >How long does a student have until the Message Exchange
                    closes?</a
                  >
                </div>
                <div
                  id="collapseTwo444"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    Once a student’s Message Exchange request has been accepted by
                    one of our Advisors and they have received a response to their
                    career questions they have 10 days until the Message Exchange
                    automatically closes. The student can close the Message
                    Exchange before this time.
                  </p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseTwo33"
                >
                  <a class="card-title"
                    >What if ProPair is unable to find an Advisor for a student’s
                    Message Exchange request?</a
                  >
                </div>
                <div
                  id="collapseTwo33"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    If we have not found a match for a student after 5 days, then
                    we auto-refund the student’s credits.
                  </p>
                </div>
              </div>
              <!-- Accordion wrapper -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="group_analystic">
            <div class="metric">
              <h4>Library</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="question-accord">
            <!--Accordion wrapper-->
            <div id="accordion" class="accordion">
              <div class="card mb-0 parent">
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne12"
                >
                  <a class="card-title"> What is the Library?</a>
                </div>
                <div
                  id="collapseOne12"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    The Library is the collection of all
                    <a href="#">Public Message Exchanges</a>
                    from all students on the ProPair (past and present).
                  </p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseTwo22"
                >
                  <a class="card-title">How do I search in the Library?</a>
                </div>
                <div
                  id="collapseTwo22"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    You can use the powerful search filters on the side. Please
                    watch this explainer video:
                  </p>
                </div>
              </div>
              <!-- Accordion wrapper -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="group_analystic">
            <div class="metric">
              <h4>Group Analytics</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="question-accord">
            <!--Accordion wrapper-->
            <div id="accordion" class="accordion">
              <div class="card mb-0 parent">
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne123"
                >
                  <a class="card-title">What is Group Analytics used for?</a>
                </div>
                <div
                  id="collapseOne123"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    This feature is only available through our Premium Membership.
                    It allows the Educator to visualise the activity of groups
                    i.e. year groups and classes over time.
                  </p>
                </div>
              </div>
              <!-- Accordion wrapper -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="group_analystic">
            <div class="metric">
              <h4>Membership, Billing & Credits</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="question-accord">
            <!--Accordion wrapper-->
            <div id="accordion" class="accordion">
              <div class="card mb-0 parent">
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne201"
                >
                  <a class="card-title">How do I change my membership plan?</a>
                </div>
                <div
                  id="collapseOne201"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    Please submit a request through the platform which you can
                    find in Billings & Credits.
                  </p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne202"
                >
                  <a class="card-title">How frequent is the membership fee?</a>
                </div>
                <div
                  id="collapseOne202"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>This is paid annually, in advance.</p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne203"
                >
                  <a class="card-title">What are Credits? </a>
                </div>
                <div
                  id="collapseOne203"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    This is the currency we use on Pr oPair. 1 public Message
                    Exchange costs 1 Credit and 1 private Message Exchange costs 2
                    Credits.
                  </p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne204"
                >
                  <a class="card-title">What are student Credit requests? </a>
                </div>
                <div
                  id="collapseOne204"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    This is simply the mechanism by which students can request
                    Credits from their school, parent or third party.
                  </p>
                </div>
                <div
                  class="card-header collapsed"
                  data-toggle="collapse"
                  href="#collapseOne205"
                >
                  <a class="card-title">How can I control them? </a>
                </div>
                <div
                  id="collapseOne205"
                  class="card-body collapse"
                  data-parent="#accordion"
                >
                  <p>
                    As an Educator you can decide: 1) whether or not you students
                    are able to request Credits from your school and 2) the
                    maximum Credits a student can request at any one time. These
                    can both be controlled in Settings. Please watch this
                    explainer video:
                  </p>
                </div>
              </div>
              <!-- Accordion wrapper -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- help center close -->
  