.basd-profile {display: flex; justify-content: space-between; align-items: center;}
.basd-profile p{	font-family: 'Source Sans Pro', sans-serif; font-weight:400; color: #7f7f7f; font-size: 16px;}
.basd-profile a{color: #007de4;}

.custom-selects {max-width: 200px; width: 100%;}
.custom-selects select{ padding: 0 18px; height: 45px; width: 100%; border: 1px solid #efefef; border-radius: 8px; -webkit-appearance: none;
     color: #b3b2b2; font-size: 16px; font-family: 'Source Sans Pro', sans-serif; font-weight:400; margin-bottom: 8px;
    }

.requests-wrper{ width: 100%;  border: 1px solid #efefef; border-radius: 12px; border-radius: 12px;}
.requests-wrper .wrp{min-height: 235px; height: auto; display: flex; width: 100%; border-bottom: 1px solid #f2f2f2;}
.requests-wrper .wrp .kps-bonus{max-width: 10%; width: 100%; display: flex; flex-direction: column; align-items:center; justify-content: center; padding: 30px 0;}
.requests-wrper .wrp .content-req{max-width: 88%; width: 100%;  display: flex; flex-direction: column; justify-content: flex-start; height: 100%; padding: 30px 0px;}
.requests-wrper .wrp .refer-wpr{max-width: 20%; width: 100%;  display: flex; flex-direction: column; align-items:center; justify-content: center; padding: 30px 40px;}
.requests-wrper .wrp .kps-bonus h3{ margin-bottom: 0; font-size: 26px; 	font-family: 'Source Sans Pro', sans-serif; font-weight:600;}
.requests-wrper .wrp .kps-bonus h4{ font-size: 16px; margin-bottom: 0;	font-family: 'Source Sans Pro', sans-serif; font-weight:600; color: #373636 ;}
.requests-wrper .wrp .kps-bonus p{ font-size: 16px; margin-bottom: 0;	font-family: 'Source Sans Pro', sans-serif; font-weight:400;}
.requests-wrper .wrp:last-child{border-bottom: none;}

.content-req .area{    width: 100%; padding-left: 0px; word-break: break-all; }
  // .content-req .area h3{ font-size: 20px;}
  .content-req .area p{font-size:16px; font-weight:400; margin: 15px 20px -15px 0;color: #373636 ;height: inherit;}
  .requests-wrper .wrp .content-req p a{color: #007de4; display: flex;justify-content: flex-end; position: relative; top: -14px;} 
  .content-req .area .subject{  display: flex; flex-wrap: wrap; align-items: center;  line-height: inherit; margin: 15px 0;}
  .content-req .area .subject span{font-size: 14px; padding:5px 12px;color: #7f7f7f; margin: 2px 8px 2px 8px;}
  .content-req .area .location span{font-weight: 400;}
  .content-req .area .location span a{margin:0;}
  .content-req .area .location i{margin:0 15px; background: #bdbdbd; height: 7px; width: 7px; border-radius: 50%;} 
  .content-req .area .location p img{margin-right: 5px; margin-bottom: 2px;}
  .content-req .area .location span img{height: 30px; background: #fff; border-radius: 50%; margin-right: 5px;};
  .content-req .area h3{font-size: 26px;    color: #373636 ; font-weight: 600; margin-bottom: 0;}
  .student-portal-link .area .location p {color: #bdbdbd !important;}


  .refer-wpr a{ max-width: 145px; width: 100%; display: inline-block; color:#7f7f7f; font-size: 18px; border: 1px solid #efefef; border-radius: 6px; padding: 6px 0; text-align: center;     margin: 7px 0;} 
  .refer-wpr a:first-child{margin-top: 0;}
  .refer-wpr a.bg{background: #33e2d1; color: #fff; border-color: #33e2d1; }

  .visit-page a{background: #eafcfa url(../../../../assets/images/visit-page.png) 95% / 4% no-repeat !important; 
    padding: 20px; color: #7f7f7f;  font-weight: 500; font-size: 20px;     width: 100%;  display: block;     display: inline-block; margin: 10px 0;}
  .visit-page a{background: #eafcfa ; display: flex; justify-content: space-between; align-items: center;}
  .visit-page a .cek .checkmark{    top: -8px; left: -15px;}
  .student-portal-link .area .subject span:first-child {
    margin-left: 0;
}
.content-req .area .subject span {
  font-size: 14px;
  padding: 4px 12px;
  margin: 2px 8px;
  border: 1px solid #ecebeb;
  border-radius: 5px;
  color: #373636;
}
.student-portal-link{
  border-bottom:none;
}
.student-portal-link .area .location p{
  font-size: 15px;
  margin: 0 0;
}
.request-refteb .basd-profile {
  margin-bottom: -1px;
}
.basd-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-refteb .live-W-tabbing {
  margin-left: 0px !important;
}
.request-refteb .nav-tabs {
  margin-bottom: 0;
}
.new-sub-tab .nav-tabs li a.active {
  border: 1px solid #e3e2e2;
  border-bottom: 1px solid #fff;
  color: #373636;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.request-refteb .tab-content {
  padding: 0;
}
.request-refteb .nav-tabs li a.active {
  border: 1px solid #efefef;
  border-bottom: 0px solid #fff;
  color: #373636;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.request-refteb .nav-tabs li a {
  margin: 0 0px;
  padding: 15px 40px;
  display: inline-block;
  color: #7f7f7f;
  font-size: 22px;
}
#liver {
  position: relative;
}
div#liver:before {
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0px;
  background: #fff;
  border-left: 1px solid #e3e2e2;
}
.request-refteb .requests-wrper {
  margin-top: 0;
}
.anothreper{
  width: 85% !important;
}
.norecode{margin-top: 15px; text-align: center;}
.msgstructre{padding:25px 40px;}
.msgstructre img{width:100%; max-width: inherit;}
.msgstructre a { color: #007de4 }
.msgstructre p { color: #373636 }
.msgstructre span { color: #7f7f7f; }
.meesage-checklist .modal-body p{
  margin: 0;
}
@media(max-width:1600px){
  .content-req .area .subject span{
    font-size: 11px;
  }
  .content-req .area .location i{
    height: 3px;
    width: 3px;
  }
  .student-portal-link .area .location p{
    font-size: 10px;
  }
  .content-req .area p{
    font-size: 14px;
  }
  .requests-wrper .wrp .refer-wpr{
    padding: 30px 30px;
  }
  .request-refteb .nav-tabs li a{
    font-size: 16px;
  }
  .requests-wrper .wrp .kps-bonus h4{ font-size: 12px;}
  .refer-wpr a{
    font-size: 16px;
  }
  .requests-wrper .wrp .kps-bonus p{ font-size: 12px;}
  .requests-wrper .wrp .kps-bonus h3{font-size: 21px;}
  .requests-wrper .wrp .refer-wpr{
    max-width: 20%;
  }
  #refrl-list .modal-body h3{
    font-size: 18px;
  }
  #refrl-list .modal-body p{
    font-size: 14px;
    line-height: 20px;
  }
  #refrl-list .datasci .right p{
    font-size: 14px;
  }
  #refrl-list .datasci .right p.kps{
    font-size: 18px;
    #refrl-m-ex .modal-body {
      padding: 20px 40px!important;
  }
    #refrl-m-ex .modal-footer {
      padding: 0px 40px 0px 40px!important;
      margin: 0 -15px;
  }
    .mess-re-ex input{
      margin: 10px 0;
      font-size: 14px;
    }
    .mess-re-ex h3{
      font-size: 18px;
    }
  }
  .custom-selects select{
    height: 34px;
    font-size: 14px;
    border-radius: 5px;
  }
  .timmy-tabb .nav-tabs li a {
    padding: 10px 40px;
  }
}
@media(max-width:1368px){
  .student-portal-link .area .location{
    flex-wrap: wrap;
  }
  .refer-wpr a{
    font-size: 11px;
    height: 34px;
    padding: 8px 0;
  }
}
@media(max-width:1199px){
  .requests-wrper{ margin-top: 30px;}
  .requests-wrper .wrp .content-req{    padding: 30px 15px;}
  .requests-wrper .wrp .refer-wpr {padding: 30px 15px;}
  .requests-wrper .wrp .refer-wpr{max-width: 20%;}
  .requests-wrper .wrp .content-req{max-width: 85%;}
  .requests-wrper .wrp .kps-bonus{    max-width: 10% !important;}
}
@media(max-width:991px){
  .requests-wrper .wrp .content-req{max-width: 80%;}
  .requests-wrper .wrp .kps-bonus{    max-width: 15% !important;}
  .requests-wrper .wrp .refer-wpr{max-width: 25%;}
}
@media(max-width:767px){
  .content-req .area .location i{ position: relative; top: 8px; }
  .requests-wrper{
    margin-top: 15px !important;
  }
  .requests-wrper .wrp{
    flex-direction: column;

  }
  .requests-wrper .wrp .kps-bonus{
      max-width: 100% !important;
      flex-direction: column;
      padding: 15px 0;
      position: relative;
      left: 92px;
  }
  .requests-wrper .wrp .kps-bonus h4{margin:  0 15px;}
  .requests-wrper .wrp .content-req{
    max-width: 100%;
    padding: 0px 15px;
    text-align: center;
  }
  .student-portal-link .area h3{
    line-height: 24px;
  }
  .content-req .area .subject{
    justify-content: center;
  }
  .content-req .area .location span{
    width: 100%;
  }
  .student-portal-link .area .location{
    justify-content: center;
  }
  .requests-wrper .wrp .refer-wpr{
    max-width: 100%;
    padding: 15px 15px;
    flex-direction:row;
    justify-content: center;
  }
  .requests-wrper .wrp .refer-wpr a{
     margin: 0px 7px;
     font-size: 14px;
     max-width: 130px;
     padding: 5px 0;
  }
  .basd-profile{
      flex-direction: column;
  }
  .basd-profile p{
      margin-bottom: 15px;
  }
  .basd-profile .live-W-tabbing{margin-bottom: 15px;}
  .request-refteb .nav-tabs li a{padding: 10px 30px;}
  .request-refteb .nav-tabs li a.active {  border:none;  border-bottom: 1px solid #e3e2e2}
  .request-refteb .nav-tabs li a{font-size: 18px;}
  #refrl-list .datasci{flex-direction: column;}
}
@media(max-width:575px){
  .basd-profile .live-W-tabbing ul{display: flex;}
  #refrl-list .modal-body h3{    font-size: 16px;}
  #refrl-list .modal-body p{font-size: 14px;}
  #refrl-list .email-box .datesub {
    margin-left: 10px;
}
.advisor-modal .meesage-checklist .modal-footer button {
  height: auto;
}
#refrl-list .email-box{
  margin-top: 15px;
}
}