.tab-pane {
    padding: 20px 0px;
}
.add-qualif-wrapper {
    padding: 0 40px;
}
.tab-pane a.add-qualif {
    color: #2688e6;
    font-size: 16px;
    padding: 7px 20px;
    display: inline-block;
    border: 1px solid #efefef;
    border-radius: 12px;
}
.work-wpw {
    padding: 0 40px;
}
.frtopm {
    margin-top: 20px !important;
}

.requests-wrper {
    width: 100%;
    border: 1px solid #e3e2e2;
    border-radius: 12px;
    margin-top: 35px;
    border-radius: 12px;
    overflow: hidden;
}
.requests-wrper .wrp.profile {
    height: 170px;
}

.work-wpw .grey {
    background: #fafafa;
}
.requests-wrper .wrp {
    /* height: 235px; */
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}
.requests-wrper .wrp:last-child { border-bottom: none; }
.requests-wrper .wrp .kps-bonus {
    max-width: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px 0;
}
.requests-wrper .wrp .content-req {
    padding: 30px 30px;
}

.requests-wrper .wrp .content-req {
    max-width: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 30px 0px;
}
.content-req .area {
    width: 100%;
    padding-left: 0px;
}
.requests-wrper .wrp.profile .social_links img {
    height: 28px;
}
.requests-wrper .wrp.profile .social_links a {
    border: none;
}
.student-portal-link .area .location {
    display: flex;
    align-items: center;
}
.requests-wrper .wrp.profile .content-req .area .location span {
    color: #7f7f7f;
    font-weight: 500;
    font-size: 18px;
}
.content-req .area .location i {
    margin: 0 15px;
    background: #bdbdbd;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.requests-wrper .wrp.profile .content-req .area .location p {
    color: #7f7f7f;
    font-weight: 500;
    font-size: 18px;
}
.for-more-lisiting a{font-size: 20px; color: #2688e6; margin-top: 20px; display: block;}






#carer-path .send-now a{display: block;}
.background-spec-cl{ margin-top: 30px;     background: #fff; box-shadow: 0px 0 9px rgba(0, 0, 0, 0.1);  padding: 40px 40px; border-radius: 12px;}
.requests-wrper{ width: 100%;  border: 1px solid #e3e2e2; border-radius: 12px; margin-top: 35px; border-radius: 12px; overflow: hidden;}

.requests-wrper .wrp.profile{height: 170px;}
.requests-wrper .wrp.profile .social_links{    display: flex; flex-direction: column;align-items: center;}
.requests-wrper .wrp.profile .social_links img{height: 28px;}
.requests-wrper .wrp.profile .social_links a{border: none;}
.requests-wrper .wrp .kps-bonus{max-width: 10%; width: 100%; display: flex; flex-direction: column; align-items:center; justify-content: center; height: 100%; padding: 30px 10px;}
// .requests-wrper .wrp .kps-bonus img{border: 5px solid #e4e4e4; border-radius: 50%;}
.requests-wrper .wrp.profile .content-req .area h3{font-size: 20px; color: #7f7f7f;     line-height: 48px;    font-weight: 400; margin-bottom: 0;} 
.requests-wrper .wrp.profile .content-req .area h4{font-size: 20px; color: #5b5858; font-weight: 500;  margin-bottom: 0;} 
.requests-wrper .wrp.profile .content-req .area .location span{ color: #7f7f7f; font-weight: 500;  font-size: 18px;}
.requests-wrper .wrp.profile .content-req .area .location p{ color: #7f7f7f; font-weight: 500;  font-size: 18px;}
.send-now a{color: #007de4;background: transparent;box-shadow: none;}
.new-exchange {display: flex;align-self: center;}
.border_bule-btn {padding-top: 8px !important;padding-bottom: 7px !important;border: 1px solid #efefef;}
.new-exchange a { box-shadow: 0px 0px 13px 0 rgba(0,0,0,0.1);margin-right: 30px;background: #33e2d1;color: #fff; border-radius: 6px;padding: 14px 42px;font-size: 18px;border-radius: 6px;}
.send-now a{color: #007de4;background: transparent;box-shadow: none; margin-right: 0;}
.frtopm{margin-top: 20px !important;}
.requests-wrper .wrp .content-req{max-width: 70%; width: 100%;  display: flex; flex-direction: column; justify-content: center; height: 100%; padding: 30px 0px;}
.content-req .area{    width: 100%; padding-left: 0px;}
.student-portal-link .area .location {
	display: flex;
	align-items: center;
  }
  .refer-wpr a{max-width: 145px; width: 100%; display: inline-block; color:#7f7f7f; font-size: 18px; border: 1px solid #c4c4c4; border-radius: 6px; padding: 6px 0; text-align: center;     margin: 7px 0;} 
  .for-more-lisiting a{font-size: 20px; color: #2688e6; margin-top: 20px; display: block;}


.content-req .area{    width: 100%; padding-left: 0px;}
.content-req .area .location i{margin:0 15px; background: #bdbdbd; height: 8px; width: 8px; border-radius: 50%;} 



.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    }

//Modal-css
.advisor-modal #career-path .modal-header {
  padding: 22px 35px;
}

.advisor-modal .modal-header {
 
  padding: 40px;
  align-items: center;
}
.advisor-modal .modal-body {
  padding: 40px 40px;
}
.advisor-modal #career-path .modal-body .form-group {
  display: flex;
    align-items: center;
    margin-bottom: 30px;
  position: relative;
}
.advisor-modal #career-path .modal-body .form-group .reqrd{
  position: absolute;
  top:50px;
  left: 25%;
  color: red;
}
.advisor-modal #career-path .modal-body label {
  font-size: 20px;
  color: #373636;
  font-family: 'Source Sans Pro', sans-serif;
  width: 32%;
  padding-right: 15px;
  text-align: right;
  margin-bottom:0;
}
.advisor-modal #career-path .modal-body input {
  font-size: 20px;
  color: #373636;
  border: 1px solid #eee;
  padding: 5px 20px;
  border-radius: 6px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}
.advisor-modal #career-path .modal-body select {
  font-size: 20px;
  color: #d4d4d4;
  border: 1px solid #eee;
  padding: 5px 20px;
  -webkit-appearance: none;
  border-radius: 6px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 79%;
  background: url(../../../../../../assets/images/drpd.png) 97% / 5% no-repeat;
}


.advisor-modal #career-path .btns {
  margin: 0 auto;
}
.advisor-modal #career-path .btns .trans {
  color: #2688e6;
  font-size: 18px;
  background: transparent;
}
.advisor-modal #career-path .btns a {
  font-size: 20px;
  border-radius: 9px;
  margin: 0 auto;
  text-align: center;
  background: #33e2d1;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  height: 50px;
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #efefef;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.advisor-modal #career-path .modal-body .in-chkbox label p {
  line-height: 24px;
  margin: 0 28px;
  text-align: left;
}
.advisor-modal #career-path .modal-body .in-chkbox {
  width: 100%;
  margin-left: 20%;
  margin-top: 20px;
}
.advisor-modal #career-path .modal-body .in-chkbox label {
  width: 100%;
}

.requests-wrper .wrp .content-req{padding: 30px 30px; border-bottom: none;}

.requests-wrper .wrp .refer-wpr {
  max-width: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 30px 40px;
}

.modal-dialog {max-width: 575px !important;}
::ng-deep ngx-select-dropdown{width: 100% !important;}
::ng-deep .ngx-dropdown-container button{   width: 68%;    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.1);  border: 1px solid #f0f0f0 !important; border-radius: 6px !important;  padding: 9px 20px !important;font-size: 20px !important;color: #d4d4d4 !important;font-family: 'Source Sans Pro', sans-serif !important;}
::ng-deep .ngx-dropdown-container button .nsdicon-angle-down::before{       opacity: 0.2; top: 10px !important;}
::ng-deep my-date-picker{  border: 1px solid #eee !important; border-radius: 8px !important;  padding: 5px 20px !important;font-size: 20px !important;color: #373636 !important;font-family: 'Source Sans Pro', sans-serif !important; width: 100%;}
::ng-deep my-date-picker input{height: 100% !important; font-family: 'Source Sans Pro', sans-serif; font-size: 20px; width: 68%;}
::ng-deep my-date-picker .selbtngroup{height: 100% !important;}
::ng-deep .mydp{border: none !important;}
.advisor-modal #career-path .modal-body .in-chkbox{width: 100%;margin-left: 0; margin-top: -6px; position: relative; right: 30px;}

.diff-wid{width: 26% !important;}


.advisor-modal #career-path .modal-body input::placeholder{
  color: #d4d4d4;
}



::ng-deep ngx-select-dropdown.ng-valid span{
  color:#373636 ;
}

::ng-deep .ngx-dropdown-container button span{color:#d4d4d4; }
::ng-deep .mydp .header{position:absolute;     margin-top: 7px;}
::ng-deep .mydp .header td{background: #fff;}
::ng-deep .mydp .selectorarrow {background: #fff !important;     padding: 40px 0 !important;  }
::ng-deep .mydp .weekdaytitle { background-color: #fff !important;        font-size: 15px !important; font-weight: 600 !important;}
::ng-deep .mydp .currmonth{background: #fff !important;}
::ng-deep .mydp .disabled{background: transparent !important;}
::ng-deep .mydp .headerlabelbtn {font-size: 17px;}
::ng-deep .mydp .btnclearenabled:hover, .mydp .btndecreaseenabled:hover, .mydp .btnincreaseenabled:hover, .mydp .btnpickerenabled:hover, .mydp .headertodaybtnenabled:hover{background-color: transparent;}



.upload-btn-wrapper button{background: #33e2d1; color: #fff; margin-right: 15px; }
.upld-wrp-bt .reqrd{    top: 35px !important;
  left: 3% !important; }
  
//For Google Places
  ::ng-deep .pac-container { z-index: 100000; }
  .for-more-lisiting a{font-size: 16px; margin-top: 0;padding: 15px;}

  @media(max-width:1600px){
    .for-more-lisiting a { font-size: 12px; }
    .requests-wrper .wrp.profile .social_links img{height: 15px;}
    .content-req .area .location i {height:4px; width:4px;}
    .requests-wrper .wrp.profile .content-req .area h3{font-size: 16px !important;     line-height: 24px;}
    .requests-wrper .wrp.profile .content-req .area h4{font-size: 16px;}
    .requests-wrper .wrp.profile .content-req .area .location span{font-size: 12px;}
    .requests-wrper .wrp.profile .content-req .area .location p{font-size: 12px;}
    .tab-pane a.add-qualif{ font-size: 12px; border-radius: 6px; padding: 10px 20px; }
    .frtopm{ margin-top: 0px !important; }
    .requests-wrper{ border: 0; }
    .add-qualif-wrapper{
      padding: 0 15px;
    }
    ::ng-deep my-date-picker { padding: 0px 20px!important; border-radius: 6px!important; }
    .advisor-modal .modal-body { padding: 20px 40px !important; }
    .advisor-modal #career-path .modal-body label { font-size: 16px; }
    .advisor-modal #career-path .modal-body input { font-size: 14px; }
    .advisor-modal #career-path .modal-body .form-group { margin-bottom: 10px; }
    ::ng-deep my-date-picker { padding: 0px 20px; } 
  }

  @media(max-width:767px){
    .requests-wrper .wrp{
      flex-direction: column;
    }
    .requests-wrper .wrp.profile{height: auto;}
    .requests-wrper .wrp .kps-bonus{max-width: 100% ; padding: 15px 0px 0 0;}
    .requests-wrper .wrp .kps-bonus img{height: 30px;}
    .requests-wrper .wrp .content-req{    padding: 15px 15px; max-width: 100%;
      border-bottom: none;
      text-align: center;}
      .student-portal-link .area .location{
        justify-content: center;
      }
      .requests-wrper .wrp.profile .social_links{
        position: relative;
        padding: 0px 0px;
      }
      .add-qualif-wrapper{
        padding: 0 15px;
    }
    .work-wpw{
      padding: 0 15px;
    }
  }
  @media(max-width:575px){
    .requests-wrper .wrp.profile .content-req .area h3{font-size: 14px !important;     line-height: 24px;}
    .requests-wrper .wrp.profile .content-req .area h4{font-size: 14px;}
    .requests-wrper .wrp.profile .content-req .area .location span{font-size: 14px;}
    .requests-wrper .wrp.profile .content-req .area .location p{font-size: 14px;}
    .add-qualif-wrapper{text-align: center;}
    .advisor-modal #career-path .modal-body .form-group{
      flex-direction: column;
      margin-bottom: 15px;
      align-items: flex-start;
    }
    .advisor-modal #career-path .modal-body{    padding: 40px 15px;}
    .advisor-modal #career-path .modal-body .form-group label{     font-size: 18px;   width: 100%;     text-align: left;}
    .advisor-modal #career-path .modal-body .form{    align-items: flex-start;}
    .advisor-modal #career-path .btns a {    max-width: 210px;
      font-size: 18px;}
      .advisor-modal #career-path .modal-body input{ font-size: 16px;}
  }