<app-header></app-header>

<section class="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="demand-wrapper">
                        <div class="heading-wrapper text-center">
                                <h3 class="h3-heading">Advisor  sign up</h3>
                                <!-- <p>To create your ProPair account, please fill in this</p> -->
                                <a href="#" class="noteductor">Not an educator?</a>
                        </div>
                    </div>
                    <div class="sign-up-wrapper">
                            <form [formGroup]="signupForm" class="errorsignup" (ngSubmit)="signUp()">
                                <div class="form-group">
                                    <!-- <label for="exampleInputFirstName">First Name <i>*</i> </label> -->
                                    <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name" readonly>
                                </div>
                                <div class="form-group">
                                    <!-- <label for="exampleInputLastName">Last Name <i>*</i> </label> -->
                                    <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name" readonly>
                                </div>
                                <div class="form-group">
                                    <!-- <label for="exampleInputEmail1">Email Address<i>*</i> </label> -->
                                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email Address" readonly>
                                </div>
                                <div class="form-group eye-pass">
                                    <!-- <label for="exampleInputEmail1">Password <i>*</i></label> -->
                                <div class="w-100 ">
                                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password"[type]="this.fields.password ? 'text' : 'password'">
                                    <i  [class]="
                                    this.fields.password
                                      ? 'fa fa-eye'
                                      : 'fa fa-eye-slash'
                                  " (click)="showPassword('password')"></i>
                                    <!-- <app-password-strength></app-password-strength> -->
                                    <div *ngIf="(signupForm.get('password').invalid) && (signupForm.get('password').touched)">
                                        <div *ngIf="signupForm.get('password').errors.required"><font color="red">Enter Password</font></div>
                                        <div *ngIf="signupForm.get('password').errors.pattern"><font color="red">Password should contains Minimum 8 characters including 1 Special character, 1 Numeric character, 1 Small and 1 Capital Characters.</font></div>
                                    </div>
                                </div>
                                </div>
                                 <div class="form-group">
                                    <!-- <label for="exampleInputEmail1">Retype Password <i>*</i></label> -->
                                    <div class="w-100">
                                    <input type="password" class="form-control"  formControlName="confirmPassword" placeholder="Enter Retype Password">
                                    <div *ngIf="(signupForm.get('confirmPassword').invalid) && (signupForm.get('confirmPassword').touched)">
                                        <div *ngIf="signupForm.get('confirmPassword').errors.required"><font color="red">Enter Confirm Password</font></div>
            
                                    </div>
                                </div>
                                </div>
                                <div class="form-group text-center">
                                        <!-- <label for="exampleInputEmail1"></label> -->
                                        <div class=" sign-btn text-center">
                                                <div class="right">
                                                  <button>Sign Up (with Linkedin validation)</button>
                                                </div>
                                          </div>
                                </div>
                            </form>
                           
                    </div>
                  <div class="already-signup text-center">
                        <h4>Already Signed up?</h4>
                        <p>If you already have an account, please <a routerLink="/login">log in.</a></p>
                        <p>If you've for gotten your password, <a href> reset it.</a></p>
                  </div>
            </div>
        </div>
    </div>
</section>


<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(22,36,75,0.35)"
size = "medium"
color = "#080041"
type = "ball-square-clockwise-spin"
[fullScreen] = "true"
>
<p style="color: white" > Please wait... </p>
</ngx-spinner>