<div id="Drafts" class="tab-pane fade">
    <div class="main advisore-message-scr new-draft-sc">
      <div class="basd-profile">
        <div class="inbox-wrapper"> 
          <ul class="nav nav-tabs">
            <li><a  routerLink="/student-module/dashboard/student-my-message/draft/live"
                [ngClass]="{'active': currentResource == 'live'}"
                (click)="activeDraftTab('LiveMessageExchange')">Live Message Exchanges </a></li>
            <!-- <li><a data-toggle="tab" href="#ProPairSupport1">ProPair Support(1)</a></li> -->
            <li><a routerLink="/student-module/dashboard/student-my-message/draft/new" 
                [ngClass]="{'active': currentResource == 'new'}"
                (click)="activeDraftTab('newMessageExchange')">New Exchange Bookings</a></li>
          </ul>
        </div>
        <div class="new-exchange">
          <div class="send-now" *ngIf="newExchangeData?.length || draftData?.length ">
            <a (click)="deletePopup()" style="cursor: pointer;" class="border_bule-btn">Delete</a>
          </div>
        </div>
      </div>
      <div class="linking-wrapper">
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>


  <div class="close-modal-icon meesage-checklist">
    <div class="modal fade" id="send-private" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header align-items-center">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Send</h5>
            <span class="outbox-prv-btn">{{typevalue}}</span>
            <!--           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
            </button> -->
          </div>
          <div class="modal-body">
            <p class="color-blck">Quick Checklist:</p>
            <p>Is the content clear?</p>
            <p> Is the grammar and spelling good?</p>
            <p> Have I asked & said everything I wanted to?</p>
          </div>
          <div class="modal-footer">
            <div class="sendPopup">
              <button type="button" class="green" (click)="sendNow()">Yes</button>
              <button type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="close-modal-icon infousermodal">
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Message Exchange Statistics</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="flex-row-wrapper info-img">
              <p>
                <img src="assets/images/info-user.png" alt="img">
                <span>{{studentStatsData?.firstName}}</span></p>
              <p><img src="assets/images/eye-close.png" alt="img" class="eye"></p>
            </div>
            <div class="flex-row-wrapper">
              <p>Date Completed</p>
              <p>{{statsData?.completedDate | date: 'dd  MMM  y'}}</p>
            </div>
            <div class="flex-row-wrapper">
              <p>My Review</p>
              <p>{{statsData?.ratings}} Starts</p>
            </div>
            <div class="flex-row-wrapper">
              <p># of Messages w/in</p>
              <p>4</p>
            </div>
            <hr>
            <div class="flex-row-wrapper">
              <p>Student Views</p>
              <p>{{statsData?.views}}</p>
            </div>
            <div class="flex-row-wrapper">
              <p>Up Votes</p>
              <p>{{statsData?.upvotes}}</p>
            </div>
            <div class="flex-row-wrapper">
              <p>Favourited</p>
              <p>146</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="close-modal-icon meesage-checklist">
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header align-items-center">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete</h5>
                      
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
                </button>
          </div>
          <div class="modal-footer">
            <div class="sendPopup">
              <button type="button" class="green" (click)="delete()">Yes</button>
              <button type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal reveiw-->
  <div class="close-modal-icon reveiw">
    <div class="modal fade" id="reveiw-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="star-rating">
              <p>Overall rating {{averagevalue}}</p>
              <ul>
                <li><i class="fa fa-star " aria-hidden="true" 
                    [ngClass]="{'green': averagevalue  >= 1}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" 
                    [ngClass]="{'green': averagevalue  >= 2}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" 
                    [ngClass]="{'green': averagevalue >= 3}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" 
                    [ngClass]="{'green': averagevalue  >= 4}"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"
                    [ngClass]="{'green': averagevalue  ==  5}"></i></li>
              </ul>
            </div>
            <div class="comment">
              <form [formGroup]="ReviewForm">
                <textarea formControlName="reviews" #reviewArea (keyup)="0" maxlength="1000">Please give your feedback here - it really helps 
                  the wider community of students as well helping us
                  make better matches, Plus you earn MPs for it!</textarea>
              </form>
            </div>
            <div *ngIf="ReviewForm.controls.reviews.hasError('maxlength')">
              <font color="red"> Please do not exceed 1000 characters </font>
            </div>
            <span class="charter-limit">{{reviewArea.value?.length}}/1000Characters</span>
            <div class="star-rating">
              <p>Helpfulness</p>
              <ul>
                <li><i class="fa fa-star " aria-hidden="true" (click)="helpFul(1)"
                    [ngClass]="{'green': helpFulValue  >= 1}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="helpFul(2)"
                    [ngClass]="{'green': helpFulValue  >= 2}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="helpFul(3)"
                    [ngClass]="{'green': helpFulValue  >= 3}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="helpFul(4)"
                    [ngClass]="{'green': helpFulValue  >= 4}"></i></li>
                <li><i class="fa fa-star" aria-hidden="true" (click)="helpFul(5)"
                    [ngClass]="{'green': helpFulValue  >= 5}"></i></li>
              </ul>
            </div>
            <div class="star-rating">
              <p>Relevance</p>
              <ul>
                <li><i class="fa fa-star " aria-hidden="true" (click)="relevance(1)"
                    [ngClass]="{'green': relevanceValue  >= 1}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="relevance(2)"
                    [ngClass]="{'green': relevanceValue  >= 2}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="relevance(3)"
                    [ngClass]="{'green': relevanceValue  >= 3}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="relevance(4)"
                    [ngClass]="{'green': relevanceValue  >= 4}"></i></li>
                <li><i class="fa fa-star" aria-hidden="true" (click)="relevance(5)"
                    [ngClass]="{'green': relevanceValue  >= 5}"></i></li>
              </ul>
            </div>
            <div class="star-rating">
              <p>Clarity</p>
              <ul>
                <li><i class="fa fa-star " aria-hidden="true" (click)="clarity(1)"
                    [ngClass]="{'green': clarityValue  >= 1}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="clarity(2)"
                    [ngClass]="{'green': clarityValue  >= 2}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="clarity(3)"
                    [ngClass]="{'green': clarityValue  >= 3}"></i></li>
                <li><i class="fa fa-star " aria-hidden="true" (click)="clarity(4)"
                    [ngClass]="{'green': clarityValue  >= 4}"></i></li>
                <li><i class="fa fa-star" aria-hidden="true" (click)="clarity(5)"
                    [ngClass]="{'green': clarityValue  >= 5}"></i></li>
              </ul>
            </div>
  
          </div>
          <div class="modal-footer inline-footer">
            <button type="button" class="green" (click)="reviewSubmit(1)">Submit</button>
            <button type="button" (click)="reviewSubmit(0)">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  
  
  <!-- Modal message-inbox studentpopup-->
  <div class="close-modal-icon  curent-msg-inbox">
    <div class="modal fade" id="message-inbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Message to ProPair Support </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
            </button>
          </div>
          <form [formGroup]="propairForm">
            <div class="modal-body">
                <input type="text" formControlName="subject" placeholder="Subject" class="w-100">
                <textarea formControlName="message" placeholder="Type message here...">  </textarea>
              <div class="filebox">
                <div class="propairImage" *ngIf = "imageUrl">
                  <img [src]="imageUrl" class="img-fluid" (click)="imageClick(imageUrl)">
                </div>
                <div class="inputflie">
                  <input type="file" id="upload" name="file" #fileInput class=""
                    (change)="uploadFile($event.target.files)">
                </div>
                <!-- <button class="btn btn-link btn-md image">
                  <input type="file" name="file" #fileInput class="" (change)="preview($event.target.files,$event)" >
              </button> -->
              </div>
            </div>
           
          </form>
          <div class="modal-footer inline-footer">
            <button type="button" data-dismiss="modal" class="cncle"   (click)="cancel()">Cancel</button>
            <button type="button" class="green" (click)="sendPropair()">Send</button>
            <!-- <button type="button"class=" " data-dismiss="modal">Submit</button>
            <button type="button" class="transparent">Save Draft</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  
  
  
  <div class="close-modal-icon meesage-checklist">
    <div class="modal fade" id="deletePropair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header align-items-center">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete</h5>
                      
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
            </button>
          </div>  
          <div class="modal-footer">
            <div class="sendPopup">
              <button type="button" class="green" (click)="deleteMessagePropairSupport()">Yes</button>
              <button type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 