<div class="padd-50">
  <div class="row">
    <div class="col-12">
        <div class="heading-wrapper">
            <h3>New Message Exchange Booking</h3>
        </div>
        <div class="w-100">
            <!-- steps wrapper -->
                <!-- multistep form -->
                <form  [formGroup]="exchangeForm"id="msform">
                  <!-- progressbar -->
                  <ul id="progressbar">
                    <li class="active">Title</li>
                    <li>Tags</li>
                    <li>Your Questions</li>
                    <li>Review</li>
                  </ul>
                  <!-- fieldsets -->
                  <fieldset>
                          <div class="message-exchng primary ">
                            <div class="d-flex justify-content-between">
                              <h3>What is a good title for your message?</h3>
                              <div class="public-slect">
                                  <select name="" id="" (change)="type($event.target.value)" >
                                      <option value="public">Public Message Exchange (1 Credit)</option>
                                      <option value="private">Private Message Exchange (2 Credits)</option>
          

                                  </select>
                              </div>
                            </div>
                        </div>
                           <div class="listing-box-title">
                              <div class="quicktip">
                                  <p>Your title helps our Advisors quickly understand what your message is about</p>
                                  <div>
                                      <img src="assets/images/quicktip.png" alt="img">
                                  </div>
                              </div>
                              <div class="greenRedlisting">
                                    <ul>
                                        <li>
                                          <img src="assets/images/greentick.png" alt="">
                                          Keep it short and sweet.
                                        </li>
                                        <li>
                                          <img src="assets/images/redcross.png" alt="">
                                          Do not exhaustively list everything you think is relevant.
                                        </li>
                                    </ul>
                                    <ul>
                                      <li>
                                        <img src="assets/images/greentick.png" alt="">
                                          Include only the key information
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="fild-box">
                             <div class="group">
                                <label for="">Title</label>
                                <input type="text" name="email" #text (keyup)="0" maxlength="200"
                                placeholder="e.g. What’s the best way to get into data science? Y12 student who loves Maths!" 
                                formControlName="title" (focusout)="title()" [disabled]= "exchangeForm.controls.title.hasError('maxlength')"/>
                                <div *ngIf="(exchangeForm.get('title').invalid) && (exchangeForm.get('title').touched)">
                                    <div *ngIf="exchangeForm.get('title').errors.required"><font color="red">Please enter title</font></div>
        
                                </div>


                                    <div *ngIf="exchangeForm.controls.title.hasError('maxlength')"><font color="red"> Please do not exceed 200 characters </font></div>

                                
                                <span class="charter-limit"> <i>{{text.value?.length}}</i> /200Characters</span>

                              </div>
                          </div>
                    
                   
                          <!-- <input type="button" name="Cancel" class="cancel same-field" value="Cancel" />
                          <input type="button" name="Save Draft" class="Save-Draft same-field" value="Save Draft" />
                          <input type="button" name="next" class="next action-button same-field" value="Next" /> -->
                         
                  </fieldset>
                     <!-- fieldsets close-->
                     <fieldset>
                      <div class="message-exchng primary ">
                        <div class="d-flex justify-content-between">
                          <h3>Tags help the right Advisors find and answer your question.</h3>
                          <div class="public-slect">
                              <select name="" id="">
                                  <option value="">Public Message Exchange (1 Credit)</option>
                                  <option value="private">Private Message Exchange (2 Credits)</option>
                              </select>
                          </div>
                        </div>
                    </div>
                       <div class="listing-box-title">
                          <div class="quicktip">
                              <p>Identify your tags by completing the sentence, " My questions are about or involve..."</p>
                              <div>
                                  <img src="assets/images/quicktip.png" alt="img">
                              </div>
                          </div>
                          <div class="greenRedlisting">
                                <ul>
                                    <li>
                                      <img src="assets/images/greentick.png" alt="">
                                      Only include tags that are crucial & relevant
                                    </li>
                                    <li>
                                      <img src="assets/images/greentick.png" alt="">
                                      You can use the drop down menus below to help you
                                    </li>
                                </ul>
                                <ul>
                                  <li>
                                    <img src="assets/images/greentick.png" alt="">
                                    You need to add atleast 3 tags and no more than 10
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="fild-box"> 
                         <div class="group">
                            <label for="">Tags</label>
                            <input type="text" id="fname"  name="email" placeholder="Start typing and/or use the drop down menus below to help you" 
                            formControlName="tags" 
                            (focusout)="focusOutFunction($event)"/>
                            <div *ngIf="(exchangeForm.get('tags').invalid) && (exchangeForm.get('tags').touched)">
                                <div *ngIf="exchangeForm.get('tags').errors.required"><font color="red">Please enter tags</font></div>
    
                            </div>
                            <div class="tagList">
                            <div *ngFor="let questionTag of toArray ;let i=index;">
                                <div>
                            <span class="miniblock">
                              {{questionTag}}</span>
                              <span class="cross_btn" (click)="delete(questionTag,i)"></span>
                             </div>
                          </div>
                        </div>
                        </div>
                          <div class="group mt-30">
                            <label for="">Mandatory Tags</label> 
                            <div class="tags-fields">
                                <div class="fields">
                                    <span>Sectors*</span>
                                    <div class="public-slect">
                                      <select name="" class="dropdownColor" id="" formControlName="sector">
                                          <option  value=""></option>
                                          <option [value]="sector._id" *ngFor="let sector of sectorTags">{{sector.name}}</option>
                                      </select>
                                      <div *ngIf="(exchangeForm.get('sector').invalid) && (exchangeForm.get('sector').touched)">
                                          <div *ngIf="exchangeForm.get('sector').errors.required"><font color="red">Please select sector</font></div>
              
                                      </div>
                                  </div>
                                </div>
                                <div class="fields">
                                  <span>Advice Areas*</span>
                                  <div class="public-slect">
                                    <select name="" class="dropdownColor" id="" formControlName="adviceAreas">
                                        <option  value=""></option>
                                        <option [value]="Tags._id" *ngFor="let Tags of advice">{{Tags.name}}</option>
                                    </select>
                                    <div *ngIf="(exchangeForm.get('adviceAreas').invalid) && (exchangeForm.get('adviceAreas').touched)">
                                        <div *ngIf="exchangeForm.get('adviceAreas').errors.required"><font color="red">Please select advice area</font></div>
            
                                    </div>
                                </div>
                              </div>
                            </div> 
                                <div class="question-accord">
                                    <!--Accordion wrapper-->
                                    <div id="accordion" class="accordion">
                                      <div class="card mb-0 parent">
                                          <div class="card-header collapsed optional-tagaccord" data-toggle="collapse" href="#collapseOne">
                                              <a class="card-title "> Optional Tags </a>
                                          </div>
                                          <div id="collapseOne" class="card-body collapse tags-fields" data-parent="#accordion">
                                                <div class="fields">
                                                  <span>Type of Job</span>
                                                  <div class="public-slect">
                                                    <select name="" class="dropdownColor" id="" formControlName="typeJob">
                                                        <option value="" ></option>
                                                        <option value="Business" *ngFor= 'let job of jobData'>{{job.typesOfJob}}</option>

                                                    </select>
                                                </div>
                                              </div>
                                              <div class="fields">
                                                <span>Fields of Study</span>
                                                <div class="public-slect">
                                                  <select name=""  class="dropdownColor" id="" formControlName="fieldStudy"  >
                                                      <option value=""></option>
                                                      <option value="Science">Science</option>
                                                      <option value="Arts">Arts</option>
                                                      <option value="Commerce">Commerce</option>

                                                  </select>
                                              </div>
                                            </div>
                                            <div class="fields">
                                              <span>Employers</span>
                                              <div class="w-80">
                                                  <input type="text" class="w-100" (input)="employersList($event.target.value)">
                                                  <div *ngIf = "showSearch" height = 40% width=40% >
                                                    <select formControlName="employers" *ngFor = "let employers of employersData">
                                                      
                                                        <option [value]="employers._id">
                                                            {{employers.university}}
  
                                                        </option>
                                                     
                                                    </select>
                                                    
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="fields">
                                              <span>Universities/College</span>
                                              <div class="w-80">
                                                <input type="text" class="w-100" (input)="filterFunction($event.target.value)">
                                                <div *ngIf = "showSearch" height = 40% width=40% >
                                                  <select formControlName="college" *ngFor = "let collegeList of collegeLists">
                                                    
                                                      <option [value]="collegeList._id">
                                                          {{collegeList.university}}


                                                      </option>

                                                   
                                                  </select>
                                                  
                                                </div>
                                              </div>
                                            </div>
                                            <div class="fields">
                                              <span>Location</span>
                                              <div class="w-80">
                                                <input type="text" class="w-100"  formControlName="location">
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                <!-- Accordion wrapper -->
                              </div>
                          </div>
                      </div>
                      <!-- <input type="button" name="Cancel" class="cancel same-field" value="Cancel" />
                      <input type="button" name="Save Draft" class="Save-Draft same-field" value="Save Draft" />
                      <input type="button" name="previous" class="previous previous-ab  action-button same-field" value="Previous Step" />
                      <input type="button" name="next" class="next action-button same-field" value="Next" /> -->
              </fieldset>
              <!-- 3 -->
              <fieldset>
                <div class="message-exchng primary ">
                  <div class="d-flex justify-content-between">
                    <h3>Please tell us your career questions</h3>
                    <div class="public-slect">
                        <select name="" id="">
                            <option value="">Public Message Exchange (1 Credit)</option>
                            <option value="private">Private Message Exchange (2 Credits)</option>
                        </select>
                    </div>
                  </div>
              </div>
                 <div class="listing-box-title">
                    <div class="quicktip">
                        <p>Include all the information someone would need to answer your question as best they could</p>
                        <div>
                            <img src="assets/images/quicktip.png" alt="img">
                        </div>
                    </div>
                    <div class="greenRedlisting">
                          <ul>
                              <li>
                                <img src="assets/images/greentick.png" alt="">
                                Be clear
                              </li>
                              <li>
                                <img src="assets/images/greentick.png" alt="">
                                Be specific
                              </li>
                              <li>
                                <img src="assets/images/redcross.png" alt="">
                                Do not share your surname
                              </li>
                          </ul>
                          <ul>
                            <li>
                              <img src="assets/images/greentick.png" alt="">
                              Be succinct
                            </li>
                            <li>
                              <img src="assets/images/greentick.png" alt="">
                              Make it count
                            </li>
                            <li>
                              <img src="assets/images/redcross.png" alt="">
                              Do not share personal contact details
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fild-box">
                    <div class="group ">
                      <label for="">1. Introduce yourself*</label>
                      <textarea name="" id="" cols="30" class="w-100" formControlName="introduce"></textarea>
                      <div *ngIf="(exchangeForm.get('introduce').invalid) && (exchangeForm.get('introduce').touched)">
                          <div *ngIf="exchangeForm.get('introduce').errors.required"><font color="red">Please introduce</font></div>

                      </div>
                      <label for="">2. Your career questions*</label>
                      <textarea name="" id="" cols="30" class="w-100" formControlName="questions"></textarea>
                      <div *ngIf="(exchangeForm.get('questions').invalid) && (exchangeForm.get('questions').touched)">
                          <div *ngIf="exchangeForm.get('questions').errors.required"><font color="red">Please select advice area</font></div>

                      </div>
                      <label for="">3. Provide any relevant background details & sign off!*</label>
                      <textarea name="" id="" cols="30" class="w-100" maxlength="200" formControlName="details" #world (keyup)="0"></textarea>
                      <div *ngIf="(exchangeForm.get('details').invalid) && (exchangeForm.get('details').touched)">
                          <div *ngIf="exchangeForm.get('details').errors.required"><font color="red">Please select advice area</font></div>

                      </div>
                      <div *ngIf="exchangeForm.controls.details.hasError('maxlength')"><font color="red">Please do not exceed 200 characters </font></div>
                      <span class="charter-limit"> <i>{{world.value?.length}}</i> /200Characters</span>
                    </div>
                </div>
                <!-- <input type="button" name="Cancel" class="cancel same-field" value="Cancel" />
                <input type="button" name="Save Draft" class="Save-Draft same-field" value="Save Draft" />
                <input type="button" name="previous" class="previous previous-ab  action-button same-field" value="Previous Step" />
                <input type="button" name="next" class="next action-button same-field" value="Next" /> -->
        </fieldset>
        <!-- 4 -->
        <fieldset>
              <div class="message-exchng primary ">
                <div class="d-flex justify-content-between">
                  <h3>Review your message</h3>
                  <div class="public-slect">
                      <select name="" id="">
                          <option value="">Public Message Exchange (1 Credit)</option>
                          <option value="private">Private Message Exchange (2 Credits)</option>
                      </select>
                  </div>
                </div>
            </div>
              <div class="listing-box-title">
                  <div class="quicktip">
                      <p>You ‘re almost there! Let’s give your message a one more look.</p>
                      <div>
                          <img src="assets/images/quicktip.png" alt="img">
                      </div>
                  </div>
                  <div class="greenRedlisting">
                        <ul>
                            <li>
                              <img src="assets/images/greentick.png" alt="">
                              Check for typos, slang, and anything that isn’t clear
                            </li>
                        </ul>
                        <ul>
                          <li>
                            <img src="assets/images/greentick.png" alt="">
                            Make sure you haven’t missed anything
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="fild-box">
                  <div class="group ">
                    <label for="">Title</label>
                    <input type="text" name="email" *ngIf="titleValue" [placeholder]="titleValue" disabled>
                    <input type="text" name="email" *ngIf="!titleValue" placeholder="e.g. What’s the best way to get into data science? Y12 student who loves Maths!" disabled>
                    <label for="">Message</label>
                    <textarea name="" id="" cols="30" class="w-100" formControlName="message" maxlength="200" #box (keyup)="0"></textarea>
                    <div *ngIf="(exchangeForm.get('message').invalid) && (exchangeForm.get('message').touched)">
                        <div *ngIf="exchangeForm.get('message').errors.required"><font color="red">Please enter message</font></div>

                    </div>
                    <div *ngIf="exchangeForm.controls.message.hasError('maxlength')"><font color="red">Please do not exceed 200 characters</font></div>
                    <span class="charter-limit"> <i>{{box.value?.length}}</i> /200Characters</span>
                    <label for="">Tags</label>
                    <div class="student-portal-link">
                      <div class="area">
                        <div class="subject">
                          <span *ngFor="let questionTag of toArray">{{questionTag}}<a (click)="delete(questionTag,i)"><img src="assets/images/close-small.png" alt="" ></a></span>
                          <!-- <span>Sector-data science <a href="#"><img src="assets/images/close-small.png" alt=""></a></span>
                          <span>Sector-data science <a href="#"><img src="assets/images/close-small.png" alt=""></a></span> -->
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- <input type="button" name="Cancel" class="cancel same-field" value="Cancel" />
              <input type="button" name="Save Draft" class="Save-Draft same-field" value="Save Draft" />
              <input type="button" name="previous" class="previous previous-ab  action-button same-field" value="Previous Step" />
              <input type="button" name="next" class="next action-button same-field" value="Submit(1 Credit)" /> -->
      </fieldset>
                        <!-- steps wrapper close -->
                      </form>
                          <div class="submitting-buttons" id="msform">
                            <input type="button" name="Cancel" class="cancel same-field" value="Cancel"  (click)="navigate()" />
                            <input type="button" name="Save Draft" class="Save-Draft same-field" value="Save Draft"  (click)="draft()"/>
                            <input type="button" name="previous" class="previous previous-ab  action-button same-field" *ngIf="privious" value="Previous Step"  />
                            <input type="button" name="previous" class="previous previous-ab  action-button same-field" value="Previous Step" />

                            <input type="button" name="next" class="next action-button same-field" value="Next" />
                            <input type="button" name="finish" class="finish action-button same-field" value="Finish" (click)="finish()"/>
                            <input type="button" name="finish" class="submit2 action-button same-field" value="Submit (2 credits)" (click)="finish()"/>
                            <input type="button" name="finish" class="submit action-button same-field" value="Submit (1 credit)" (click)="finish()" />
            
                        </div>
        </div>
    </div>
 </div>
</div>