
@import '~ngx-toastr/toastr';
#body-bg{background: #fafafa;}



// /* footer */
// .footer{position: relative;margin: 100px 0 0 0;}
// .footer:after{position: absolute; content: ' '; background: url(/assets/images/footer-curve.png)no-repeat; height: 115px; width: 100%; top: -200px;}
// .footer .logo-sectiion img{margin-bottom: 60px;} 
// .footer .logo-sectiion p{font-size: 24px; font-weight: 400; line-height: 48px; max-width: 375px;}
// .footer .footer-menu h3{font-size: 30px; line-height: 62px; font-weight: 600; margin-bottom: 60px;     text-transform: uppercase;}
// .footer .footer-menu a{display: block; font-size: 24px; line-height: 63px; color: #373636;}
// .tandc{border-top: 1px solid #979797;     margin-top: 100px; padding: 65px 0;}
// .copyright p{font-size: 24px; line-height: 48px; font-weight: 400; color: #979797;}
// .tandc-link li{display: inline-block;     margin: 0 24px;}
// .tandc-link li:first-child{margin-left:0px;}
// .tandc-link li a{font-size: 24px; line-height: 48px; font-weight: 400; color: #33e2d1;}
// .footer-menu { padding-left: 70px; }
// /* footer close */

