<div class="customsht-screen">
  <div class="stud-lib-chat-m">
    <div class="row">
  
      <div class="col-md-12">
        <div class="library_function">
          <h3> <a  class="backarrow"><img src="assets/images/backarr.png" alt="img" routerLink="/student-module/dashboard/student-my-message/draft/live"></a><span style="cursor: pointer;" routerLink="/student-module/dashboard/student-my-message/draft/live">Live Message Exchnage</span></h3>
        </div>
        <div class="library_actual">
          <div class="row">
              <div class="col-12">
                  <div class="fav-like">
                      <div class="live-heding">
                          <h4>{{messageExchangeThreads?.question?.title | titlecase}}</h4>
                      </div>                                       
                  </div>
                  <div class="live-line">
                    <div *ngIf="messageExchangeThreads?.question?.type == 'public'">
                    <ul>
                      <li>Public Message Exchange started on {{messageExchangeThreads?.question?.createdAt |date: 'd MMM y'}}</li>
                      <li>Live</li>
                      <li>viewed 256 times</li>
                      <!-- <li *ngIf="messageExchangeThread?.question.isCompleted == true">completed on {{messageExchangeThread?.question?.createdAt |date: 'd MMM y'}}</li> -->
                    </ul> 
                  </div> 
                  <div *ngIf="messageExchangeThreads?.question?.type == 'private'">
                    <ul>
                      <li>Private Message Exchange started on {{messageExchangeThreads?.question?.createdAt |date: 'd MMM y'}}</li>
                      <li>Live</li>
                      <li>viewed 256 times</li>
                      <!-- <li *ngIf="messageExchangeThread?.question.isCompleted == true">completed on {{messageExchangeThread?.question?.createdAt |date: 'd MMM y'}}</li> -->
                    </ul>
                  </div>      
                  </div>
                 <div class="data-scince-subject">
                    <div class="result-box" >
                      <div class="result li" >
                          <p *ngFor="let tag of messageExchangeThreads?.question?.tags">{{tag | lowercase}}</p>
                         
                      </div>
                      <!-- <div class="relevant">
                        <span>Bonus <b>3 KPs</b></span>
                      </div> -->
                  </div>
                 </div>
                 <div class="chat-mail">
                  <div class="user-chat w-100">
                    <div class="profile">
                        <img *ngIf="!messageExchangeThreads?.question?.student?.image" src="assets/images/user-chat-profile.png" alt="img">
                        <img *ngIf="messageExchangeThreads?.question?.student?.image" [src]="messageExchangeThreads?.question?.student?.image" alt="img">
                        <p>Submitted  {{messageExchangeThreads?.question?.createdAt |date: 'd MMM y'}} by <a  href="/student-module/dashboard/student-profile/student-biography" target="_blank"> {{messageExchangeThreads?.question?.student.firstName}} {{messageExchangeThreads?.question?.student.lastName}}</a> </p>
                    </div>
                    <div class="application">
                        <!-- <h6>Hi there</h6> -->
                        <p> {{messageExchangeThreads?.question?.message | titlecase}}</p>

                             <!-- <div class="flag-review" *ngIf="messageExchangeThreads?.question?.isFlagged == true">
                                  <p>Flagged</p>
                             </div> -->
                    </div>
                </div>
                <div class="user-chat w-100" *ngFor="let reply of messageExchangeThreads?.replyThread">
                  <div class="profile">
                      <img *ngIf="!reply?.ownerId?.image" src="assets/images/user-chat-profile.png" alt="img">
                      <img *ngIf="reply?.ownerId?.image" [src]="reply?.ownerId?.image" alt="img">
                      
                      <p>{{reply.duration}} <a (click)="navigate(reply,reply.ownerId._id)">{{reply?.ownerId.screenName ? reply?.ownerId.screenName : reply?.ownerId.firstName}} {{reply?.ownerId.screenName ? '' : reply?.ownerId.lastName}}</a> </p>
                  </div>
                  <div class="application">
                      <!-- <h6>Hi there</h6> -->
                      <p> {{reply?.reply}}</p>

                           <!-- <div class="flag-review">
                                <p> <img src="assets/images/quicktip.png" alt="img"> Flag for review</p>
                           </div> -->
                  </div>
              </div>

                <div class="replst">
                  <div class="row">
                    <div class="col-md-1">
                        <div class="student-profile">
                          <div class="profile-library">
                            <img *ngIf="!userInfo?.image" src="assets/images/user-chat-profile.png" alt="img">
                            <img *ngIf="userInfo?.image" [src]="userInfo?.image" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11">
                      <div class="library_actual">
                        <div class="row">
                            <div class="col-12">
  
                               <div class="chat-mail">
                               
                                  <div class="user-chat w-100 replycontet-wrapper">
                                    <form [formGroup]="inboxForm">
                                      <textarea class="application textArea" rows="6" (keyup)="keyUp()" maxlength="3201"
                                      placeholder="Enter your Message here..." formControlName="reply"></textarea>
                                    </form>
                                  </div>
                                  <div *ngIf="inboxForm.controls.reply.hasError('maxlength')">
                                    <font color="red"> Please do not exceed 3200 characters </font>
                                  </div>
                               </div>
                            </div>
  
                        </div>
                   </div> 
                   <span class="charter-limit"> <i><span *ngIf=" availableMinLength < 12">{{availableMinLength}}</span>
                    <span class = "character" *ngIf="availableMinLength >= 12" >{{availableMinLength}}</span></i> / 3,200 characters</span>
                    </div>
  
                   
                  </div>
                  
                </div>
                <div class="submitting-buttons" id="msform">
                  <div class="relevant">
                    <!-- <span data-toggle="modal" data-target="#thankyou">Bonus <b>3 KPs</b></span> -->
                  </div>
                  <input type="button" name="Cancel" class="cancel same-field" value="Cancel" style="cursor: pointer;"   data-toggle="modal" data-target="#accept-rquest">
                  <!-- <a  class="save "  style="cursor: pointer;" (click)="draft()">Save Draft</a> -->
                  <input type="button" name="previous" class="previous previous-ab  action-button same-field " value="Save Draft" style="cursor: pointer;"  (click)="draft()">
                  <!-- <input type="button" name="previous" class="previous previous-ab  action-button same-field" value="Edit"  style="cursor: pointer;" (click)="editDraft()"> -->
                  <input type="button" name="next" class="next action-button same-field" value="Send" style="cursor: pointer;" (click)="send()">
                </div>
                 </div>
              </div>
  
          </div>
     </div> 
      </div>
    </div>
  </div>
  </div>


  
         <!-- Modal -->
 <div class="advisor-modal">
  <div class="close-modal-icon meesage-checklist"> 
    <div class="modal fade" id="accept-rquest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Cancel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
            </button>
          </div>
          <div class="modal-body">
              <p>Make sure  you save a draft otherwise you will lose this data.</p>
          </div>
          <div class="modal-footer">
            <button type="button"  class="green"  data-dismiss="modal" (click)="cancel()">Yes</button>
            <button type="button" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>