<div id="ChangePlan" class="tab-pane expirebl fade in">
    <div class="table-wrapper">
      <table class="table">
        <thead>
            <tr>
              <th><i style="font-size: 15px !important;">Price (incl. VAT)</i></th>
              <th>Current Plan</th>
              <th *ngIf="membershipDataList?.length "><b>New Plan</b></th>
              <th *ngIf="membershipDataList?.length ">New Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <div class="quicktip-wrp">
                  Membership 
                  <img src="assets/images/quicktip.png" alt="" (mouseenter) ="quickShowMembership=true"  (mouseleave) ="quickShowMembership=false">
                  <div class="quick-tip-box " *ngIf="quickShowMembership">
                    <h3>Tool tip</h3>
                    <p>- If you upgrade your<br/>membership then this will go <br/>live immidiately after payment<br/>(Calculated on a pro rate basis).</p>
                 </div> 
                 </div> 
              </td>
              <td>{{userData?.membershipName | titlecase}}</td>
              <td *ngIf="membershipDataList?.length ">
                <select style="font-weight: 600" id="" (change) ="changeMembership($event.target.value)">
                <option *ngFor= "let membership of membershipDataList" value="{{membership}}">{{membership | titlecase}}</option>
                <!-- <option value="plus">Plus</option>
                <option value="premium">Premium</option> -->
              </select>
            </td>
              <td align="right" *ngIf="membershipDataList?.length ">£{{membershipPrize | number}}</td>
            </tr>
            <tr>
              <td>
                <div class="quicktip-wrp">
                  No. of Students
                  <img src="assets/images/quicktip.png" alt="" (mouseenter) ="quickShowStudent=true"  (mouseleave) ="quickShowStudent=false">
                  <div class="quick-tip-box " *ngIf="quickShowStudent">
                    <h3>Tool tip</h3>
                    <p>- If you increase the number <br/>of students from your<br/>current plan then this will go<br/>live immidiately after <br/>payment (calculated<br/>prorate basis).</p>
                 </div>
                </div>
              </td>
              <td>up to {{userData?.studentsAllowed}} students</td>
              <td *ngIf="membershipDataList?.length ">
                <select style="font-weight: 600" id="" (change) ="changeStudent($event.target.value)" >
                  <option *ngFor= "let student of dropdownData?.student" value="{{student}}" ><b>{{student}} students</b></option>
                </select>
              </td>
              <td align="right" *ngIf="membershipDataList?.length ">£{{numOfStudents | number}}</td>
            </tr>
            <tr>
              <td>
                <div class="quicktip-wrp">
                  Included Credits Per Student
                  <img src="assets/images/quicktip.png" alt="" (mouseenter) ="quickShowAnalytics=true"  (mouseleave) ="quickShowAnalytics=false">
                  <div class="quick-tip-box " *ngIf="quickShowAnalytics">
                    <h3>Tool tip</h3>
                    <p>- If you include more credits<br/>per student than your<br/>current plan then your <br/>students will receive the <br/>difference immidiately after<br/>payment.</p>
                 </div> 
                </div>
              </td>
              <td>{{userData?.creditIncluded}}</td>
              <td *ngIf="membershipDataList?.length">
                <select style="font-weight: 600" id="" (change) ="changeCredit($event.target.value)" >
                  <option *ngFor= "let credit of dropdownData?.creditList" value="{{credit}}">{{credit}}</option>
                </select>
              </td>
              <td align="right" *ngIf="membershipDataList?.length">£{{creditAmount | number}}</td>
            </tr>
            <tr *ngIf="membershipDataList?.length">
              <td></td>
              <td></td>
              <td>Subtotal</td>
              <td align="right">£{{subTotal | number}}</td> 
            </tr>
            <!-- <tr *ngIf="membershipDataList?.length">
              <td></td>
              <td></td>
              <td>Discount</td>
              <td align="right">£{{discount}}</td> 
            </tr> -->
            <tr *ngIf="membershipDataList?.length">
              <td></td>
              <td></td>
              <td>VAT (20%)</td>
              <td align="right">£{{VAT }}</td> 
            </tr>
            <tr *ngIf="membershipDataList?.length">
              <td></td>
              <td></td>
              <td><b>Total amount payable</b></td>
              <td align="right"><b >£{{totalData }}</b></td> 
            </tr>
            <!-- *ngIf="membershipDataList?.length && statusForProceed == true " -->
           <tr *ngIf="membershipDataList?.length && statusForProceed == true ">
              <td></td>
              <td></td>
              <td  colspan="2" class="chnge-plan"><div class="d-flex justify-content-center">
                <a (click)="membershipCardList()">Change Plan</a>
              <button [hidden]=true  id="openDoneModal" data-toggle="modal" data-target="#newPaynow">open</button>
              <button [hidden]=true  id="declineModalLabel" data-toggle="modal" data-target="#newPaymentModal">open</button>
              </div></td>
           </tr>
           <tr *ngIf="membershipDataList?.length ">
             <td></td>
             <td></td>
             <td colspan="2" class="text-center chnge-plan no-bg"><div class="d-flex justify-content-center">
              <!-- <a href="#">Cancel Membership</a> -->
             </div></td>
           </tr>
        </tbody>
    </table>
</div>
</div>


<div class="close-modal-icon addcard"> 
  <div class="modal fade" id="newPaynow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Card</h5>
          <button type="button" #newPaynow class="close" data-dismiss="modal" aria-label="Close" (click)="crossButton()">
            <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
          </button>
        </div>
        
        <div class="modal-body">
              <form id="payment-form" [formGroup]="addCardForm" (ngSubmit)="addCardSubmit()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name on Card</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" formControlName="name">
                </div>
                <div class="form-group card-amer">
                  <label for="exampleInputEmail1">Card Number</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="124*********256" formControlName="number" (keyup)="enter()" >
                  <div *ngIf="visa">
                    <img src="assets/images/visa_small.png" alt="">
                    
                  </div>
                  <div *ngIf="masterCard">
                    <img src="assets/images/master_card.png" alt="">
                    
                  </div>
                  <div *ngIf="americanExpress">
                    <img src="assets/images/americanExpress.jpg" alt="">
                    
                  </div>
                  <div *ngIf="discover">
                    <img src="assets/images/discover-2.png" alt="">
                    
                  </div>
                  <div *ngIf="dinerClub">
                    <img src="assets/images/Diners-Club.png" alt="">
                    
                  </div>
                  <div *ngIf="dcb">
                    <img src="assets/images/jcb.png" alt="">
                    
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Expiry Date</label>
                  <div class=" d-flex MY-filed">
                      <div class="new-exchange w-50">
                        <div class="public-slect " >
                          <select name="" id="" formControlName="expMonth" >
                              <option value="">Month</option>
                              <option *ngFor="let month of monthArray" value="{{month.value}}">{{month.month}}</option>

                          </select>
                        </div>
                    </div>
                    <div class="new-exchange w-50">
                      <div class="public-slect ">
                        <select name="" id="" formControlName="expYear">
                            <option value="">Year</option>
                            <option *ngFor="let year of yearArray" value="{{year}}">{{year}}</option>
                            
                        </select>
                      </div>
                  </div>
                 </div>
              </div>
              <div class="form-group card-amer cvv">
                <label for="exampleInputEmail1">CVV</label>
                <input type="password" class="form-control" formControlName="cvc" id="exampleInputEmail1" aria-describedby="emailHelp" >
                <img src="assets/images/cvv.png" alt="">
              </div>
              <div class="modal-footer flex-column">
              <button  type="submit"class="green w-100" >Pay</button>
              <button [hidden]=true  id="closeDoneModal" data-dismiss="modal" data-target="#newPaynow">close</button>
              <!-- <button *ngIf="payThroughCard === true" type="button"class="green w-100" (click)="cardDetails(customerSavedCards[0])" >Pay</button> -->
              </div>
              </form>
        </div>
        <!-- <div class="modal-footer flex-column">
          
           <div class="w-100 text-center mt-30">
            <p>Your card will not be charged now,</p>
            <p>although it will be set as the default for future charges.</p>
           </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #logoutPopup>
  <div class="riotAccount">
      <div class="modal-body">
          <div class="tournament_create_inner bg-white row" style="border-radius: 10px; padding: 20px;">
              <div class="col-sm-12 text-center">
                  <p>Do you want to initiate payment?</p>
              </div>
              <div class="col-sm-12">
                  <div class="row">
                      <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-info box-shdow submit mr-3 Yes" (click)="membershipMakePayment(1)">Yes</button>
                          <button type="submit" class="btn btn-danger box-shdow submit cancel" (click)="membershipMakePayment(0)">No</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</ng-template>



<div class="close-modal-icon"> 
  <div  class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="declineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="declineModalLabel">Do you want to initiate payment?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button"  class="green" (click)="membershipMakePayment(1)">Yes</button>
          <button type="button" (click)="membershipMakePayment(0)" >Cancel</button>
          <button [hidden]=true  id="closeDeclineModalLabel" data-dismiss="modal" data-target="#declineModal">close</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="close-modal-icon"> 
  <div  class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="declineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="declineModalLabel">Do you want to initiate payment?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button"  class="green" (click)="membershipMakePayment(1)">Yes</button>
          <button type="button" (click)="membershipMakePayment(0)" >Cancel</button>
          <button [hidden]=true  id="closeDeclineModalLabel" data-dismiss="modal" data-target="#declineModal">close</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="close-modal-icon"> 
  <div  class="modal fade" id="newPaymentModal" tabindex="-1" role="dialog" aria-labelledby="declineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="declineModalLabel">Do you want to Initiate Payment?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
            <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
          </button>
        </div>

        <div class="modal-body">
          <div>
            <p>Select card</p>
            <select name="" id="" class="handCursor" (change)="filterYear($event.target.value)">
              <option value="all" selected>Select cards</option>
              <option *ngFor="let card of cardArray" [value]="card.id">************{{card.last4}}</option>
            </select>
          </div>
          <div class="close-modal-icon addcard" *ngIf="cardType"> 
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Card Detail</h5>
                    <!-- <button type="button" #newPaynow class="close" data-dismiss="modal" aria-label="Close" (click)="crossButton()">
                      <span aria-hidden="true"><img src="assets/images/close-icon.png" alt=""></span>
                    </button> -->
                  </div>
                  
                  <div class="modal-body">
                        <form id="payment-form" [formGroup]="addCardForm" (ngSubmit)="membershipMakePayment(1)">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Name on Card</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" formControlName="name" [readonly]="true">
                          </div>
                          <div class="form-group card-amer">
                            <label for="exampleInputEmail1">Card Number</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="124*********256" formControlName="number" (keyup)="enter()" [readonly]="true">
                            <div *ngIf="cardListing?.brand == 'Visa'">
                              <img src="assets/images/visa_small.png" alt="">
                              
                            </div>
                            <div *ngIf="cardListing?.brand == 'MasterCard'">
                              <img src="assets/images/master_card.png" alt="">
                              
                            </div>
                            <div *ngIf="cardListing?.brand == 'American Express'">
                              <img src="assets/images/americanExpress.jpg" alt="">
                              
                            </div>
                            <div *ngIf="cardListing?.brand == 'Discover'">
                              <img src="assets/images/discover-2.png" alt="">
                              
                            </div>
                            <div *ngIf="cardListing?.brand == 'Diners Club'">
                              <img src="assets/images/Diners-Club.png" alt="">
                              
                            </div>
                            <div *ngIf="cardListing?.brand == 'JCB'">
                              <img src="assets/images/jcb.png" alt="">
                              
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Expiry Date</label>
                            <div class=" d-flex MY-filed">
                              <div class="new-exchange w-50">
                                <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" formControlName="expMonth" [readonly]="true">
                                  <!-- <div class="public-slect " > -->
                                    <!-- <select name="" id="" formControlName="expMonth" >
                                        <option value="">Month</option>
                                        <option *ngFor="let month of monthArray" value="{{month.value}}">{{month.month}}</option>    
                                    </select> -->
                                  <!-- </div> -->
                              </div>
                              <div class="new-exchange w-50">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" formControlName="expYear" [readonly]="true">
                                <!-- <div class="public-slect "> -->
                                  <!-- <select name="" id="" formControlName="expYear">
                                      <option value="">Year</option>
                                      <option *ngFor="let year of yearArray" value="{{year}}">{{year}}</option>
                                      
                                  </select> -->
                                <!-- </div> -->
                            </div>
                           </div>
                        </div>
                        <div class="form-group card-amer cvv">
                          <label for="exampleInputEmail1">CVV</label>
                          <input type="password" class="form-control" formControlName="cvc" id="exampleInputEmail1" aria-describedby="emailHelp" [readonly]="true">
                          <img src="assets/images/cvv.png" alt="">
                          <!-- <input type="checkbox" id='html34'>
                          <label for="html34"></label> -->
                        </div>
                        <div class="modal-footer flex-column">
                        <button  type="submit"class="green w-100" >Pay</button>
                        <button [hidden]=true  id="closeDoneModal" data-dismiss="modal" data-target="#newPaynow">close</button>
                        <!-- <button *ngIf="payThroughCard === true" type="button"class="green w-100" (click)="cardDetails(customerSavedCards[0])" >Pay</button> -->
                        </div>
                        </form>
                  </div>
                  <!-- <div class="modal-footer flex-column">
                    
                     <div class="w-100 text-center mt-30">
                      <p>Your card will not be charged now,</p>
                      <p>although it will be set as the default for future charges.</p>
                     </div>
                  </div> -->
                </div>
              </div>
          </div>
        </div>

        <div class="modal-footer">
          <!-- <button *ngIf="showCard && cardType" type="button"  class="green" (click)="membershipMakePayment(1)">Pay</button> -->
          <!-- <button *ngIf="showCard" type="button" (click)="membershipMakePayment(0)" >Cancel</button> -->
          <button [hidden]=true  id="closeDeclineeModal" data-dismiss="modal" data-target="#newPaymentModal">close</button>
        </div>
      </div>
    </div>
  </div>
</div>

