<!--  ################### Footer ##################### -->

<!-- New Footer -->

          <!-- footer -->
          <!-- <footer class="footer">
            <div class="container">
                <div class="stay-touch">
                    <div class="row w-100">
                        <div class="col-md-6">
                            <div class="content-wrapper">
                                <h3 class="heading">Stay in touch with us</h3>
                                <p>Join our mailing list and/or follow us to keep abreast of our news and updates</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="getemail">
                                <div class="inputfield">
                                    <input type="text" placeholder="Enter your e-mail">
                                    <a href="#" class="gradint-btn">Subscribe</a>
                                </div>
                                <div>
                                    <ul>
                                        <li><a href="https://www.facebook.com/propairme" target="new"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/ProPairMe" target="new"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/propairme" target="new"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="branding-footer">
                            <a > <img src="assets/images/footer-logo.png" alt="img"></a>
                            <p>Unlocking the potential of young people by preparing them for the world of work.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-link">
                            <h3>Discover</h3>
                            <a href="index.html#testinomial" class="visithows">Testimonials</a>
                            <a routerLink="/faq">FAQ</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-link">
                            <h3>Company</h3>
                            <a href="aboutus.html" target="_self">About us</a>
                            <a href="#">Contact us</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-link fl-last">
                            <h3>Get Involved</h3>
                            <a href="BecomeAnAadvisor.html" target="_self">Become an Advisor</a>
                            <a href="Becomepartner.html" target="_self">Become a partner school</a>
                           
                        </div>
                    </div>
                </div>
               <div class="copyright-section">
                    <div class="">
                        <div class=" ">
                            <div>
                                <ul>
                                    <li><a >Terms & Conditions</a></li>
                                    <li><a >Privacy policy</a></li>
                                    <li><a>Safeguarding policy</a></li>
                                </ul>
                                <ul>
                                    <li>
                                       <a  class="cpyrigt"> Copyright © 2020 ProPair Community Interest Company. All rights reserved.</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>  
               </div>
            </div>
        </footer> -->
        <footer class="footer">
            <div class="container">
                <div class="stay-touch">
                    <div class="row w-100">
                        <div class="col-md-6">
                            <div class="content-wrapper">
                                <h3 class="heading">Stay in touch with us</h3>
                                <p>Join our mailing list and/or follow us to keep abreast of our news and updates</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="getemail">
                                <div class="inputfield">
                                    <input type="text" placeholder="Enter your e-mail">
                                    <a href="#" class="gradint-btn">Subscribe</a>
                                </div>
                                <div>
                                    <ul>
                                        <li><a href="https://www.facebook.com/propairme" target="new"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/ProPairMe" target="new"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/propairme" target="new"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="branding-footer">
                            <a href="index.html"> <img src="assets/images/footer-logo.png" alt="img"></a>
                            <p>Unlocking the potential of young people by preparing them for the world of work.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-link">
                            <h3>Discover</h3>
                            <a href="#testinomial" class="testinomial">Student testimonials</a>
                            <a routerLink="/faq">FAQ</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-link">
                            <h3>Company</h3>
                            <a routerLink="/about-us" >About us</a>
                            <a href="#">Contact us</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-link fl-last">
                            <h3>Get Involved</h3>
                            <a routerLink="/become-partnerSchool" >Become a partner school</a>
                            <a routerLink="/become-advisor" >Volunteer as an Advisor</a>
                            <a routerLink="/become-partner" >Become a partner employer</a>
                           
                        </div>
                    </div>
                </div>
               <div class="copyright-section">
                    <div class=" ">
                        <div class=" ">
                            <div>
                                <ul>
                                    <li><a href="../../../assets/pdf/New TandCs.pdf" download>Terms & Conditions</a></li>
                                    <li><a href="../../../assets/pdf/New Privacy Policy.pdf" download>Privacy policy</a></li>
                                    <li><a href="../../../assets/pdf/safeGaurading.pdf" download>Safeguarding policy</a></li>
                                </ul>
                                <ul>
                                    <li>
                                       <a href="#" class="cpyrigt"> Copyright © 2020 ProPair Community Interest Company. All rights reserved.</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>  
               </div>
            </div>
        </footer>
      <!-- footer close -->


<!-- New Footer Ends -->