<div id="OpenRequests" class="tab-pane fade in active show">
  <div class="basd-profile">
    <p *ngIf="openRequests.length">
      We have {{ requestCount ? requestCount : 'No' }} Matches for you {{ userFirstName }},
      based on your
      <a
        [routerLink]="[
          '/advisor-dashboard',
          'advisor-profile',
          'advisor-biography'
        ]"
        >profile</a
      >
    </p>
    <p *ngIf="!openRequests.length">No data found</p>
    <div class="custom-selects" style="cursor: pointer;">
      <select name="" id="" (change)="openRequestFilter($event.target.value)">
        <option value="all">All</option>
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </div>
  </div>

  <div class="requests-wrper">
    <div style="cursor: pointer;" class="wrp" *ngFor="let data of openRequests">
      <div class="side-panel">
        <div *ngIf="isRefered" class="ref-flag">
          <img src="../../../../assets/images/referred-flag.svg" alt="flag">
        </div>
        <div class="kps-bonus" style="cursor: default;">
          <h3>{{ data?.bonusPoint }}</h3>
          <h4>KPs</h4>
          <p>Bonus</p>
        </div>
      </div>
      <div class="content-req student-portal-link">
        <div class="area">
          <h3 [routerLink]="['/advisor-dashboard', 'open-detailing', data._id]">
            {{ data?.title }}?
          </h3>
          <p
            *ngIf="!data['showMore']"
            [routerLink]="['/advisor-dashboard', 'open-detailing', data._id]"
          >
            {{ data?.message | more }}
            <a
              href="javascript:void(0)"
              *ngIf="data.message.length > 270"
              (click)="showMore(data); $event.stopPropagation()"
            >
              More</a
            >
          </p>
          <p
            *ngIf="data['showMore']"
            [routerLink]="['/advisor-dashboard', 'open-detailing', data._id]"
          >
            {{ data?.message }}
            <a
              href="javascript:void(0)"
              *ngIf="data.message.length > 270"
              (click)="showLess(data); $event.stopPropagation()"
            >
              Less</a
            >
          </p>
          <div class="subject" style="cursor: default;">
            <span *ngFor="let tag of data.tags">{{ tag | titlecase }}</span>
          </div>
          <div class="location" style="cursor: default;">
            <span>
              <img *ngIf="!data.student?.image"
              style="cursor: pointer;"
              (click)="navigateToStudent(data.student._id)"
              src="assets/images/user-chat-profile.png"
              alt="img"
            />
              <img
              *ngIf="data.student?.image"
                style="cursor: pointer;"
                (click)="navigateToStudent(data.student._id)"
                [src]="data.student?.image"
                alt="img"
              />submitted {{ data?.createdAt | counter }} ago by
              <a
                style="cursor: pointer;"
                (click)="navigateToStudent(data.student._id)"
                >{{ data?.student?.firstName }} ,
                Year {{ data?.student?.year }}</a
              ></span
            >
              <i *ngIf="data?.student?.location"></i>
              <p *ngIf="data?.student?.location">{{ data?.student?.location }}</p>
              
            <!-- <p *ngIf="!data?.student?.location">No location</p> -->
            <i></i>
            <p>
              <img
                *ngIf="(data.type | lowercase) == 'public'"
                src="assets/images/eye.png"
                alt="img"
              />
              <img
                *ngIf="(data.type | lowercase) == 'private'"
                src="assets/images/eye-close.png"
                alt="img"
              />
            </p>
          </div>
        </div>
      </div>
      <div class="refer-wpr">
        <a
          href="javascript:void(0)"
          class="bg"
          (click)="acceptMessage(data._id, temp3); $event.stopPropagation()"
          >Accept</a
        >
        <a
          href="javascript:void(0)"
          (click)="referRequest(temp, data._id); $event.stopPropagation()"
          >Refer</a
        >
      </div>
    </div>
  </div>

 
</div>

<!-- Refer Modal -->
<ng-template #temp>
  <div class="advisor-modal">
    <div class="close-modal-icon meesage-checklist">
      <div id="refrl-m-ex">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Refer Message Exchange
            </h5>
            <button
              type="button"
              class="close"
              (click)="modalRef2.hide()"
              aria-label="Close"
            >
              <span aria-hidden="true"
                ><img src="assets/images/close-icon.png" alt=""
              /></span>
            </button>
          </div>
          <div class="modal-body" [formGroup]="validRefer">
            <div class="mess-re-ex">
              <h3>Enter your friend’s email address please:</h3>
              <input
                type="text"
                placeholder="helpful@legend.com"
                formControlName="email"
              />
              <div *ngIf="f.email.errors && submitted">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">
                  Please enter valid email
                </div>
              </div>

              <span>Earn 5 Karma Points for a successful referral</span>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="green" (click)="referMail(temp1)">
              Send
            </button>
          </div>
        </div>
        <div class="msgstructre">
          <span>Preview of the Email that will be sent on your behalf.</span><br/>
            <br/>
          <p>Subject : Career question for you!<br/>
            <br/>
            Hi there<br/>
          <br/>
We're <a>ProPair</a>, a social enterprise helping unlock the potential of young people by preparing them for the world of work!<br/>
<br/>
<b>Dave Hitchens</b> has suggested you may be able to help answer <b>Daniella's (year 10 student)</b> career questions.  We'd really apprecite it if you could take a look! In order to do so you will need to become a registered Advisor first - you can apply <a>here</a>.<br/>
<br/>
If you're already an Advisor then please click the link below to view Daniella's questions:<br/>
<br/>
<a>http://www.ccasddfgaerg.egrreg.gerg/rege/rgre/g/reg/</a><br/>
<br/>
Thank you very much<br/>
<br/>
Team ProPair</p>

          <!-- <img src="assets/images/email1.png" alt="" /> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal -->

<!--Refer Confirmation Modal -->
<ng-template #temp1>
  <div class="advisor-modal">
    <div class="close-modal-icon meesage-checklist">
      <div id="refer-confrm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thank You!</h5>
            <button
              type="button"
              class="close"
              (click)="modalRef3.hide()"
              aria-label="Close"
            >
              <span aria-hidden="true"
                ><img src="assets/images/close-icon.png" alt=""
              /></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="visit-page">
              <a href="javascript:void(0);" (click)="referToAnother(temp)"
                >Refer this Request to another person</a
              >
              <a href="javascript:void(0);" (click)="modalRef3.hide()"
                >Go to Open Requests</a
              >
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" (click)="moveToDashboard()">Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal -->

<!-- Accept Confirmation 1 -->
<ng-template #temp3>
  <div class="advisor-modal acceptrq">
    <div class="close-modal-icon meesage-checklist">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <span>Are you sure you want to accept the request?</span>
          </h5>
          <button type="button" class="close" (click)="modalAccept.hide()">
            <span aria-hidden="true"
              ><img src="assets/images/close-icon.png" alt=""
            /></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="group_analystic">
            <div class="tab-content">
              <div id="variable" class="tab-pane fade in active show">
                <div class="filter-f-grph-GA">
                  <p>
                    If you accept this request and then change your mind I'm
                    afraid we will have to give you a black mark and your
                    account will be frozen.
                  </p>

                  <p>
                    Remember, you have up to 3 days to send your first response
                    to this Message Exchange Request. For more information see
                    our <a (click)="goToFaq()">FAQ.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="green" (click)="proceedAccept(temp4)">
            Yes
          </button>
          <button type="button" (click)="modalAccept.hide()">No</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Accept Confirmation1 Ends-->

<!-- Accept Confirmation 2 -->
<ng-template #temp4>
  <div class="close-modal-icon masseage-sucess">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="new()"
        >
          <span aria-hidden="true"
            ><img src="assets/images/close-icon.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/okay.png" alt="img" />
        <h3>Request Accepted</h3>
        <p>Thank you so much for accepting this request.</p>
        <p>Your student now awaits your response!</p>
        <div class="btn-boxes">
          <a href="javascript:void(0)" (click)="new()"
            >OK, got it!</a
          >
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Accept Confirmation 2 Ends -->
